.best_seller_info {
    max-width: 455px;
    padding: 40px 0px;
}

.best_seller_info .section_header {
    border-bottom: 1px solid #D9D9D9;
    padding: 0 0 30px 0;
}

.best_seller_info .star_gp a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: underline;
    margin-left: 10px;
    color: #000;
}

.best_seller_info .bundle_ftr {
    padding: 20px 0;
}

.best_seller_info .bundle_ftr ul {
    padding-left: 30px;
}

.best_seller_info .bundle_ftr ul li {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    opacity: 0.8;
}

.best_seller_info .bundle_ftr ul li:after {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    background-color: #000;
    top: 10px;
    left: -18px;
    border-radius: 50%;
}

.best_seller_info .bundle_price {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.best_seller_info .bundle_price .old_price {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    text-decoration: line-through;
    margin-right: 17px;
}

.best_seller_info .bundle_price .new_price {
    font-size: 22px;
    line-height: 40px;
    font-weight: 600;
    color: #C92127;
    margin-right: 17px;
}

.best_seller_info .bundle_price .discount_percentage {
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    background-color: #008763;
    color: #fff;
    border-radius: 20px;
    padding: 1px 11px;
}

.best_seller_info .bundle_quantity_wrap {
    display: flex;
    align-items: center;
}

.best_seller_info .bundle_quantity {
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border: 1px solid #BBBDBF;
    border-radius: 10px;
}

.best_seller_info .bundle_quantity>* {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    padding: 3px 13px;
    color: #000;
}

.best_seller_info .bundle_quantity a:hover,
.best_seller_info .bundle_quantity a:active,
.best_seller_info .bundle_quantity a:focus {
    color: #000;
}

.best_seller_info .bundle_quantity p {
    border-left: 1px solid #BBBDBF;
    border-right: 1px solid #BBBDBF;
}

.best_seller_info .section_header h6 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #C92127;
    font-style: italic;
}

.best_seller_info .shipment_arriving {
    margin-bottom: 20px;
}

.best_seller_info .special_deals {
    padding: 20px;
    border: 1px solid #DBDBDB;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    column-gap: 20px;
}

.best_seller_info .special_deal_btn {
    background-color: #C92127;
    padding: 10px 16px;
    border-radius: 30px;
    width: 100%;
    text-align: center;
}

.best_seller_info .special_deal_btn img {
    margin-left: 5px;
}

.best_seller_info .special_deal_btn a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #fff !important;
}

.special_deals>img {
    width: 73px;
    height: 73px;
}

@media(max-width:991px) {
    .best_seller_info .special_deals {
        padding: 10px;
        column-gap: 10px;
    }

    .best_seller_info .special_deal_btn a {
        font-size: 13px;
        line-height: 14px;
    }
}

@media(max-width:767px) {
    .best_seller_info {
        padding: 10px 0px;
    }

    .best_seller_info .star_gp a {
        font-size: 10px;
        line-height: 16px;
    }

    .best_seller_info .star_gp {
        padding-bottom: 10px;
    }

    .best_seller_info .section_header {
        padding-bottom: 10px;
    }

    .best_seller_info .bundle_ftr ul li {
        font-size: 10px;
        line-height: 16px;
        font-weight: 300;
    }

    .best_seller_info .bundle_ftr ul {
        padding-left: 20px;
    }

    .best_seller_info .bundle_ftr {
        padding: 10px 0;
    }

    .best_seller_info .bundle_ftr ul li:after {
        top: 5px;
        width: 3px;
        height: 3px;
    }

    .best_seller_info .bundle_price {
        padding: 10px 0;
    }

    .best_seller_info .bundle_quantity>* {
        font-size: 18px;
        line-height: 18px;
    }
}


/* ==================== css for bundle slider ========== */
.bundle_pdp .sale-bg-cont {
    top: 30px;
}

.bundle_pdp .sale-bg-cont .sale-bf-tag {
    font-size: 16px;
    line-height: 28px;
}

.bundle_pdp .sale-bg-cont p {
    font-size: 14px;
    line-height: 26px;
}

.bundle_pdp .sale-bg-cont span.regular_price {
    font-size: 14px;
    line-height: 25px;
}

.bundle_pdp .sale-bg-cont ul li {
    font-size: 12px;
    line-height: 22px;
}

.bundle_pdp .sale-bf-img {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}

.bundle_pdp .swiper-button-next {
    right: 0;
    left: auto;
}

.bundle_pdp .swiper-button-prev {
    left: 0;
    right: auto;
}

.bundle_pdp .swiper-button-next:after,
.bundle_pdp .swiper-button-prev:after {
    font-weight: 900;
    font-size: 18px;
}



@media(max-width:767px) {
    .bundle_pdp .sale-bg-cont {
        position: absolute;
        top: 20px;
        left: 30px;
    }


    .bundle_pdp .swiper-button-next:after,
    .bundle_pdp .swiper-button-prev:after {
        opacity: 0;
        visibility: hidden;
    }

    .best_seller_info .section_header h1 {
        margin-bottom: 0;
    }

    .best_seller_info .section_header h6 {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 0;
    }
}

@media(max-width:556px) {
    .bundle_pdp .sale-bg-cont .sale-bf-tag {
        font-size: 9px;
        line-height: 17px;
    }

    .bundle_pdp .sale-bg-cont p {
        font-size: 10px;
        line-height: 15px;
    }

    .bundle_pdp .sale-bg-cont span.regular_price {
        font-size: 12px;
        line-height: 16px;
    }

    .bundle_pdp .sale-bg-cont ul li {
        font-size: 8px;
        line-height: 16px;
    }

    .bundle_pdp .swiper-slide {
        width: 100%;
    }

}