/* ============== boostrap css start ============= */
.ms-3 {
    margin-left: 1rem !important;
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .offcanvas {
        transition: none
    }
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem
}

.offcanvas-header .btn-close {
    padding: .5rem .5rem;
    margin-top: -.5rem;
    margin-right: -.5rem;
    margin-bottom: -.5rem
}

.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5
}

.offcanvas-body {
    flex-grow: 1;
    padding: 1rem 1rem;
    overflow-y: auto
}



.offcanvas-bottom {
    right: 0;
    left: 0;
    height: 30vh;
    max-height: 100%;
    border-top: 1px solid rgba(0, 0, 0, .2);
    transform: translateY(100%)
}

.offcanvas.show {
    transform: none
}

.offcanvas-bottom {
    right: 0;
    left: 0;
    height: 30vh;
    max-height: 100%;
    border-top: 1px solid rgba(0, 0, 0, .2);
    transform: translateY(100%)
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.fade {
    transition: opacity .15s linear
}

@media (prefers-reduced-motion:reduce) {
    .fade {
        transition: none
    }
}

.fade:not(.show) {
    opacity: 0
}

.collapse:not(.show) {
    display: none
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

@media (prefers-reduced-motion:reduce) {
    .collapsing {
        transition: none
    }
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button {
        transition: none
    }
}

.accordion-button:not(.collapsed) {
    color: #008763;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125)
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23008763'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg)
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23008763'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button::after {
        transition: none
    }
}

.accordion-button:hover {
    z-index: 2
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}

.accordion-header {
    margin-bottom: 0
}

.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125)
}

.accordion-item:first-of-type {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.accordion-item:not(:first-of-type) {
    border-top: 0
}

.accordion-item:last-of-type {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.accordion-body {
    padding: 1rem 1.25rem
}

.accordion-flush .accordion-collapse {
    border-width: 0
}

.accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0
}

.accordion-flush .accordion-item:first-child {
    border-top: 0
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 0
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0
}

/* ============== boostrap css end ============= */
/* ============= raman css new start ============ */
.collection_page .filter_sort_wrap .offcanvas-body {
    padding: 24px;
}

.collection_page .filter_sort_wrap .tab-content {
    padding-top: 20px;
    display: block;
}

.collection_page .filter_sort_wrap .filter_sort_btn {
    opacity: 0.8;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.12px;
    background: transparent;
    color: #000;
    border-radius: 0;
    padding: 0 0 5px 0;
    border: none;
    border-bottom: 1px solid #EDE7DD;
    font-family: 'Poppins';
}

.collection_page .filter_sort_wrap .collections_tab ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.collection_page .filter_sort_wrap .collections_tab .nav-pills .nav-link {
    padding: 0 35px;
    color: #000;
    border: 1px solid #D0D0D0;
    border-radius: 20px;
    width: 100%;
    white-space: nowrap;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Poppins';
}

.collection_page .filter_sort_wrap .collections_tab .nav-pills .nav-link.active,
.collection_page .filter_sort_wrap .collections_tab .nav-pills .show>.nav-link {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.collection_page .filter_sort_wrap .offcanvas-header {
    background: transparent;
    justify-content: center;
    padding: 15px;
    max-height: 41px;
    height: 100%;
}

.collection_page .filter_sort_wrap .offcanvas-header .btn-close {
    padding: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='7' viewBox='0 0 21 7' fill='none'%3E%3Cpath opacity='0.8' d='M1 6L10.5 1L20 6' stroke='black' stroke-opacity='0.5' stroke-width='1.5' stroke-linecap='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    margin: 0;
    max-width: 100%;
    height: auto;
    display: flex;
    width: 100%;
    border: none;
    background-color: transparent;
}

.collection_page .filter_sort_wrap .offcanvas-header .btn-close:focus {
    box-shadow: none;
}

.collection_page .filter_sort_wrap .offcanvas-bottom {
    border-radius: 15px 15px 0 0;
}


.collection_sort_by .sort_by_item .form-check {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid #EDE7DD;
}

.collection_page .filter_sort_wrap .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.collection_page .filter_sort_wrap .form-check label {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.13px;
    margin-bottom: 0;
}

.facets__item .facet-checkbox input[type=checkbox] {
    border: 1px solid #008763 !important;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    position: static;
    margin-right: 12px;
    z-index: 1 !important;
}


.collection_page .filter_sort_wrap .form-check input[type=radio],
.collection_page .filter_sort_wrap input[type=checkbox] {
    border: 1px solid #008763 !important;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

.collection_page .filter_sort_wrap .form-check input[type=radio]:checked,
.collection_page .filter_sort_wrap input[type=checkbox]:checked {
    border: 5px solid #008763 !important;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: none;
}

.collection_page .filter_sort_wrap .product-filters .accordion-item .accordion-button {
    background: none;
    font-size: 13px;
    padding: 10px 0;
    color: rgb(0 0 0 / 80%);
}

.collection_page .filter_sort_wrap .product-filters .accordion-item .accordion-button {
    padding: 14px 0;
    border-bottom: 1px solid #EDE7DD;

}

.collection_page .filter_sort_wrap .product-filters .accordion-item {
    border: none;
    background: transparent;
}

.collection_page .filter_sort_wrap .clear_filter,
.collection_page .filter_sort_wrap .product-filters .accordion-item+.accordion-item .accordion-button {
    border-top: none;
}

.collection_page .filter_sort_wrap .tab-content>.tab-pane {
    display: none
}

.collection_page .filter_sort_wrap .tab-content>.active {
    display: block
}

.collection_page .filter_sort_wrap .product-filters .accordion-item .accordion-button:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' class='icon icon-caret' viewBox='0 0 10 6'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 18px 18px;
}

.collection_page .filter_sort_wrap .product-filters .accordion-item .accordion-body {
    padding: 0;
    margin: 15px 0 0;
}

.collection_page .filter_sort_wrap .list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0;
}

.facet-checkbox {
    padding: 0;
    flex-grow: 1;
    position: relative;
    display: flex;
    word-break: break-word;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .3px;
    color: #000c;
    margin-bottom: 12px;
    align-items: center;
    cursor: pointer;
}


.clear_filter {
    border-top: 1px solid #ede7dd;
    padding: 20px 0
}

.clear_filter .clear_filter_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: .3px;
    text-decoration-line: underline;
    color: #008763;
}

html.filterActive {
    overflow: hidden;
}

@media(max-width:767px) {
    .collection_page .filter_sort_wrap .offcanvas-bottom {
        /* height: calc(100vh - 85px); */
        height: fit-content;
    }

    .collection_page .filter_sort_wrap .col-filter.product-filters.product-filters-mob {
        display: block;
    }
}

/* ============= raman css new end============ */