.skin_p_slider {
    position: relative;
}

.skin_promises .section_header p {
    max-width: 705px;
    margin: 0 auto;
}

.skin_p_slider .sp_item .containers {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.13px
}

.skin_p_slider .sp_item .containers p {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.13px
}

.skin_p_slider .sp_item .sp_img {
    position: relative;
}

.skin_p_slider .sp_item .sp_img .sp_text {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.sp_img img {
    width: 100%;
}

.skin_p_slider .sp_item .sp_img .sp_text .title-lg {
    color: #fff;
}

.skin_p_slider .swiper-button-next {
    right: -15px;
}

.skin_p_slider .swiper-button-prev {
    left: -15px;
}

.skin_p_slider .swiper-arrow {
    top: calc(var(--posTop) / 2);
}

.skin_p_slider .sp_item .accordion_icon_list {
    padding-top: 20px;
}

.skin_p_slider .sp_item .accordion_list.li_decimal,
.skin_p_slider .sp_item .accordion_list.li_circle {
    padding: 0 13px
}

.skin_p_slider .sp_item .accordion_list.li_decimal ul li {
    list-style-type: decimal;
}

.skin_p_slider .sp_item .accordion_list.li_circle ul li {
    list-style-type: disc;
}

.skin_p_slider .sp_item .accordion_list.li_decimal ul li:not(:last-child) {
    padding-bottom: 10px;
}

.skin_p_slider .sp_item .accordion_icon_list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    /* column-gap: 40px; */
}

.skin_p_slider .sp_item .accordion_icon_list ul li p {
    font-size: 10px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.1px
}

/* .skin_p_slider .sp_item .accordion_icon_list ul li {
    max-width: 116px;
    margin: 0 auto;
} */
.skin_p_slider .sp_item .accordion_list {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.1px
}

@media(max-width:767px) {
    .skin_promises_slider .swiper-wrapper {
        display: grid;
    }
    .skin_p_slider .swiper-arrow{
        opacity: 0;
        visibility: hidden;
    }
}