/* =============================== bundle banner start ================== */
.bundleCycleSlider .swiper-slide .cycle-slide {
    background: #edf7f5;
}

.bfBundle__content .btn-bfBundle {
    display: inline-block;
    text-align: center;
}

.cycle_img img {
    height: 72px;
    object-fit: contain !important;
}

@media(max-width:767px) {
    .bfBundle__bannerBlock {
        background-color: #edf7f5;
    }

    .bundleCycle {
        background: #edf7f5;
    }

    .bfBundle__bannerBlock .bfBundle__banner_mobile {
        margin: 0 -15px;
    }

}

/* =============================== bundle banner end ================== */