/* -- comparison table start -- */
.comparison-section {
    background: #FFFAF1;
}

.comparison-row+.comparison-row {
    border-bottom: 1px solid rgb(194 188 177 / 40%);
}

.comparison-row:last-child {
    border: none;
}

.comparison-row .comp-col {
    padding: 10px;
    height: 100%;
}

.comparison-row:first-child .comp-col {
    border-radius: 8px 8px 0 0;
}

.comparison-row:last-child .comp-col {
    border-radius: 0 0 8px 8px;
}

.comparison-row .comp-col.comp-row__text-wrapper {
    padding-left: 0px;
}

.comparison-row .comp-col strong {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.comparison-row .comp-col.bg-default {
    background: #c7e7dc;
}

.comparison-row .comp-col .comp_hdr_img {
    min-height: 40px;
    display: flex;
    align-items: center;
}

.comparison-row .comp-col .comp_hdr_img img {
    max-height: 42px;
    display: block;
    margin: 0 auto;
}

.comparison-row .comp-col .comp_mask_img {
    text-align: center;
    margin: 10px 0 10px 0;
}

.comparison-row .comp-row__text-wrapper .comp-row__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.comparison-row .comp-row__text-wrapper .comp-row__subtitle {
    font-size: 10px;
    line-height: 12px;
    padding-top: 7px;
    font-style: italic;
    color: #008763;
    font-weight: 400;
}

.comparison-row .comp-row__title-wrapper .comp-row__title--colored {
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    height: 17px;
    width: 81px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 8px;
    letter-spacing: 1px;
    margin-right: 4px;
}

.comparison-row .comp-row__title-wrapper .comp-row__title--normal {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.comparison-row .comp-col.comp_col-price {
    font-size: 18px;
}

.comparison-row .comp-col.comp_col-price .compare_price {
    font-weight: bold;
    margin-right: 10px;
    position: relative;
}

.comparison-row .comp-col.comp_col-price .compare_price:before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #C92127;
    position: absolute;
    top: 50%;
    transform: rotate(165deg);
}
.g__checkBox {
    display: block;
    height: 24px;
    width: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Ccircle cx='10' cy='10' r='9.375' stroke='%23008763' stroke-width='1.25'/%3E%3Cpath d='M5.55469 9.99995L8.88802 13.3333L14.9991 7.22217' stroke='%23008763' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
}
.cross__checkBox {
    height: 24px;
    width: 24px;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Ccircle cx='10' cy='10' r='9.375' stroke='%23CB0000' stroke-width='1.25'/%3E%3Cpath d='M7 13.3338L13.1111 7.22266' stroke='%23CB0000' stroke-width='1.5'/%3E%3Cpath d='M13.1094 13.3328L6.99826 7.22168' stroke='%23CB0000' stroke-width='1.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
}
.comparison-row {
    position: sticky;
    top: var(--headerheight);
    z-index: 9;
    background: #fffaf1;
}
@media(max-width:767px) {
    .g__checkBox {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.66699 12L10.667 16L18.0003 8.66663' stroke='%23008763' stroke-width='2'/%3E%3C/svg%3E");
    }
    .cross__checkBox {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.7002 17L16.7002 8' stroke='%23C92127' stroke-width='2'/%3E%3Cpath d='M7.7002 8L16.7002 17' stroke='%23C92127' stroke-width='2'/%3E%3C/svg%3E");
    }
    .comparison-section .section_header{
    max-width: 100%;
}
    .comparison-row+.comparison-row {
        border-bottom: none;
    }

    .comparison-row .comp-col.comp-row__text-wrapper {
        padding-left: 35px;
        background: linear-gradient(90deg, #C7E7DC 21.35%, #FFEBCB 99.98%);
        border-radius: 0;
    }

    .comparison-row .comp-col.comp-row__title-wrapper {
        background: linear-gradient(90deg, #C7E7DC 21.35%, #FFEBCB 99.98%);
        padding: 3px 0 3px 0;
    }

    .comparison-row .comp-row__title-wrapper .comp-row__title--colored {
        margin-left: -8px;
        width: 91px;
    }

    .comparison-row .comp-col.comp_col-price span,
    .comparison-row .comp-col.comp_col-price span.compare_price {
        display: block;
        width: max-content;
        margin: 0 auto;
    }
}
.make_it_sticky {
    position: fixed;
    top: var(--headerheight);
    background-color: #fffaf1;
    left: 24px;
    right: 24px;
    z-index: 2;
    box-shadow: 0 0 11px -4px #000
}
@media(min-width:768px){
    .borderTop-comparison {
        border-top:1px solid rgb(194 188 177 / 40%);
    }
}
/* .make_it_sticky .comp-row-head-wrapper {
    padding: 0 20px
} */
/* -- comparison table end -- */