/* --------------------- Replacement Fusion Start ----------------------------- */
.replacement .section_header .title-lg {
    max-width: 475px;
    margin: 0 auto;
}

.replacement .section_header p {
    max-width: 735px;
    margin: 0 auto;
}

.rp_right_text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 174px;
}

.rp_bx {
    position: relative;
}

.border__area {
    /* position: absolute; */
    top: 0;
    right: 0px;
}

.rp_item {
    padding: 0px 0;
}

.rp_item h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    font-family: 'Canela Regular';
    margin-bottom: 0;
}

.rp_item p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

@media(min-width:1199px) {
    .border__area {
        right: 20px;
    }
}

@media(max-width:767px) {
    .rp_item h2 {
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
    }

    .rp_item p {
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
    }

    .replacement {
        padding: 30px 0;
    }

    .rp_item:nth-child(2) {
        padding: 0px 0;
        margin: 40px 0;
    }
}

@media(max-width:556px) {
    .replacement .section_header .title-lg {
        margin-left: 0;
    }

    .replacement .section_header p {
        max-width: 327px;
    }
}

/* --------------------- Replacement Fusion End ----------------------------- */