/* ======= mi-patches-pdf start ======== */
.mi-patches-pdf .bs_item h4 {
    word-break: normal;
}

.mi-patches-pdf .skincare_right {
    padding: 0px 0px 0px 0px;
}

.mi-patches-pdf .accordion-button::after {
    filter: grayscale(1);
}

.mi-patches-pdf .bs_content {
    border-bottom: 1px solid #EDE7DD;
}

.mi-patches-pdf .beauty_skincare .bs_item h4 {
    border-bottom: none;
}

.mi-patches-pdf .result_c_info .star_gp p {
    font-size: 13px;
}

.mi-patches-pdf .r_c_info {
    padding: 15px 0px;
}

.mi-patches-pdf .skin_item,
.mi-patches-pdf .skincare_left {
    box-shadow: none;
    border: none;
    background: none;
}

.mi-patches-pdf .accordionTechnologyWrapper>#accordionTechnology {
    grid-template-columns: 1fr;
}

.mi-patches-pdf .accordionTechnologyWrapper p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.13px;
}

.combat_slider {
    overflow: unset;
}

.combat_slider .swiper-wrapper {
    justify-content: center;
}

.patches_tech_grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: start;
    gap: 20px;
}

.patches_tech_grid .patches_tech_item {
    max-width: 284px;
    text-align: center;
    margin: 0 auto;
}

.patches_tech_img img {
    max-width: 193px;
}

.patches_tech_item .patches_tech_content {
    font-size: 13px;
    line-height: 24px;
    margin-top: 20px;
}

.patches_tech_plus {
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
}

.patches_tech_item .patches_tech_content h6 {
    font-weight: 600;
    font-size: 13px;
}
.patches_tech_item .patches_tech_content p{
    font-size: 13px;
}
.patches_ingredients .pi_header {
    position: relative;
}

.patches_ingredients .accordion-item {
    max-width: 450px;
}

.patches_ingredients .pi_header {
    position: relative;
}

.patches_ingredients .pi_heading {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 600;
    color: var(--Charcoal, #212428);
    font-family: "TT Commons Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

.patches_ingredients .skincare_right .accordion-body p {
    color: #000;
    font-family: "TT Commons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}

.patches_ingredients .pi-item .accordion-button::after {
    position: absolute;
    right: 10px;
    bottom: 23px;
}

.patches_ingredients .skincare_right {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.patches_ingredients .accordion {
    display: flex;
    justify-content: space-between;
}

.patches_ingredients .skincare_right .accordion-item {
    border: none;
}

.patches_ingredients .u_item_question {
    border-radius: 15px !important;
}

.mi-patches-pdf .bs_item {
    max-width: 470px;
}

.beauty_skincare {
    margin: 0 auto;
    max-width: 1017px;
}

.ingredients_item {
    text-align: center;
}
.mi-patches-pdf .get_compliment_wrap #pills-tabContent2 {
    max-width: 670px;
}

.skincare_slider_n .progessInfo {
    font-size: 14px;
}

.skincare_slider_n .section_header>p {
    margin: 20px 0;
}

.skincare_slider_n .skincare_percent:not(:last-child) {
    margin-bottom: 10px;
}

.skincare_slider_n .skin_item_n_tag .sn_tag {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border-radius: 100px;
    background: var(--Teal, #C7E5DB);
    backdrop-filter: blur(10px);
    padding: 6px 24px;
}
.skin_item_n {
    border-radius: 10px;
    border: 1px solid var(--Charcoal-10, #DFE0E0);
    padding: 24px;
}
.skincare_slider_n .skin_item_n_tag p {
    text-align: center;
    margin: 18px 0 0;
    font-family: 'TT Commons';
}
.skincare_slider_n p {
    font-size: 18px;
}
.skincare_slider_n p {
    font-family: 'TT Commons';
}
/* .mi_patches_pdp span.saved_price {
    background: #c50000 !important;
    margin-left: 8px;
} */
.mi_patches_pdp .planBlock .monthly_plans{
    padding: 13px 20px;
}
.mi_patches_pdp label.monthly_plans{
    border-radius: 12px !important;
}
.silk_heading {
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.14px;
    text-transform: uppercase;
}
.mi_patches_pdp .plan_choosed {
    left: 0 !important;
}
.mi_patches_pdp .planBlock .plan_choosed {
    max-width: 100%;
    text-transform: uppercase;
}
.mi_patches_pdp .planBlock .plan_choosed span {
    display: flex;
    justify-content: center;
    background: #212428;
    font-size: 14px;
    font-family: 'TT Commons';
    line-height: 18px;
    padding-top: 2px;
}
.plan_prc {
    font-weight: 400;
}
.bf_discount {
    height: fit-content;
    padding: 4px 11px;
    background: #C4121A;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    border-radius: 25px;
}
.planBlock .plan_choosed span {
    text-transform: uppercase;
}
.video_with_slide h2.title-lg {
    margin-top: -15px;
}
img#bundleImage {
    border-radius: 5px;
}
.payment_method {
    padding: 10px 0;
}
.mi_patches_pdp .planBlock .monthly_plans .plan_des {
    margin-top: 0;
    line-height: 20px;
}

.mi_patches_pdp .planBlock .monthly_plans .price .regular_price {
    font-size: 20px;
}
.choose_bundle-offer .bundle_offer-content .planBlock .monthly_plans .price .regular_price {
    font-size: 23px;
}
.ctm_cls_mi_patches_pdp .planBlock .monthly_plans .plan_des strong {
    text-transform: uppercase;
}
.next_batch_bl.next_batch_highlight .batch_h {
    display: unset;
    grid-template-columns: calc(100% - 70%) 1fr;
    gap: 10px;
}
.mi_patches_reserve_block h5 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
}
.next_batch_bl.next_batch_highlight {
    padding: 20px 16px;
}
.next_batch_bl.next_batch_highlight .batch_h .batch_h_info {
    padding: 0px 10px;
}
.mi-patches-pdf .planBlock:nth-child(1) .monthly_plans {
    border-radius: 0 0 12px 12px !important;
}
.mi-patches-pdf .planBlock .monthly_plans {
    flex-direction: column;
    justify-content: start;
}

.mi-patches-pdf .planBlock .monthly_plans {
    padding: 0;
    border-width: 2px;
    transition: all .3s ease;
}
.mi-patches-pdf label.monthly_plans {
    height: 150px;
}
.mi-patches-pdf .planBlock .monthly_plans .price {
    justify-content: center;
}
.mi-patches-pdf label.monthly_plans {
    position: relative;
}
.mi-patches-pdf .planBlock .monthly_plans .saved_price {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.11px;
    padding: 6px 10px;
    position: absolute;
    bottom: -10px;
    background-color: #FFEEEA;
    color: #FF5429;
    margin-left: 0;
    transition: all .3s ease;
    font-family: "TT Commons";
}
.planBlock input:checked+.monthly_plans .saved_price{
    background-color: #FF5429;
    color: #fff;
}

.mi_patches_pdp .step_conten_blocks {
    display: grid;
    align-items: end;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
}
.max_eff p {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
}
.max_eff_images {
    margin: 12px 0;
    display: flex;
    gap: 10px;
}
.mi_patches_pdp .planBlock .monthly_plans .plan_hdr h3 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'TT Commons';
    text-align: center;
    padding: 6px 0;
}
.mi_patches_pdp .planBlock .monthly_plans .plan_hdr h3 span {
    display: inline-block;
    font-size: 14px;
}
.mi_patches_pdp .planBlock .monthly_plans .price .regular_price {
    font-size: 18px;
    font-family: 'TT Commons';
    color: #8B8C8E;
    font-weight: 400;
}
.mi_patches_pdp .planBlock .monthly_plans .plan_prc.sale_price {
    color: #FF5429;
    font-weight: 400 !important;
    font-family: 'TT Commons';
}

.max_eff {
    width: 100%;
    background: #F6F6F6;
    border-radius: 12px 12px 0 0;
}
.mi_patches_pdp .planBlock:nth-child(1) .monthly_plans .max_eff {
    border-radius: 0;
    background: #D9EEE9;
}
.mi_patches_pdp .planBlock.active .max_eff {
    background: #D9EEE9;
}
.mi_patches_pdp .buy_btn {
    font-size: 22px;
    font-weight: 500;
}
.mi_patches_pdp span.savedAmount {
    font-weight: 700;
}
.planBlock input:checked+.monthly_plans {
    border: 2px solid #212428;
}
.planBlock input:checked+.monthly_plans {
    background: #F6F6F7;
}
.max_eff_images img {
    height: 40px;
    width: 27px;
}

.mi-patches-pdf .refill_review {
    border-radius: 5px;
    background: var(--Mist, #F6F6F7);
    padding: 10px;
    max-width: max-content;
}

.title-xl-commons {
    color: var(--Charcoal, #212428);
    font-family: "Canela Light";
    font-size: 46px;
    font-style: normal;
    font-weight: 300;
    line-height: 54px;
}
.monthly_plans .new_patches img {
    max-width: 54px;
}
.monthly_plans .new_patches{
    padding-top: 12px;
}
.mi-patches-pdf .refill_review p a {
    font-size: 16px;
    font-family: 'TT Commons';
    text-decoration: none;
}
.mi-patches-pdf .product_title {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 24px 0 8px;
}
.select_your_supply {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 24px 0 10px;
}
.mi-patches-pdf hr {
    background: #DFE0E0;
    opacity: 1;
}
.mi_patches_pdp .planBlock:last-child .monthly_plans .plan_prc.sale_price{
    color: #212428;
}
.upgrade_routine .ur_heading {
    font-family: "TT Commons";
    font-size: 20px;
    font-weight: 400;
}
.upgrade_routine .ur_itemName {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}
.content_skin_hair{
    border: 0;
}
.biggest_hair_issues .swiper-slide {
    border-radius: 10px;
    border: 1px solid #DFE0E0;
}
.biggest_hair_issues  .swiper-slide {
    height: auto;
}
.biggest_hair_issues .swiper-slide .skin_hair_types {
    height: 100%;
}
.upgrade_routine .ur_item{
    background: #F6F6F7;
}
.mi-patches-pdf .faq_patches_pdp .accordion-button {
    padding: 4px 0;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
}
.mi-patches-pdf .faq .accordion-button .container:after {
    top: 50%;
    font-weight: 300;
    transform: translate(0, -50%);
} 
.mi-patches-pdf .accordion-button:not(.collapsed) .container:after {
    content: '';
    background-image: url('accord_minus_icon.svg');
    background-repeat: no-repeat;
}
.mi-patches-pdf .accordion-button .container:after{
    content: '';
    background-image: url('accord_plus_icon.svg');
    background-repeat: no-repeat;
}
.mi-patches-pdf .accordion-button:not(.collapsed) .container p {
    font-weight: 600 !important;
}
.jump_to a {
    border: 1px solid #8B8C8E;
    border-radius: 100px;
    font-family: 'TT Commons';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 24px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jump_to img {
    margin-bottom: 1px;
}
.jump_to_heading h3 {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.faq_patches_pdp .accordion-item:last-child {
    border-bottom: 1px solid #DEDADA;
}
.next_batch_bl.next_batch_highlight .batch_h {
    display: grid;
    grid-template-columns: calc(100% - 50%) 1fr;
    gap: 10px;
}
.batch_h {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.skincare_slider_n .title-lg {
    font-family: 'Canela Light';
}





.next_batch_bl {
    background-color: #ffffff7d;
    border: 1px solid var(--Charcoal-10, #DFE0E0);
    border-radius: 10px;
}
 .batch_h.batch_h_fade {
    padding: 4px 10px;
    border-radius: 99.608px;
    border: 1px solid var(--Charcoal-50, #8B8C8E);
    opacity: 0.6;
    background: var(--Charcoal-10, #DFE0E0);
}
.next_batch_bl.next_batch_highlight .batch_h.batch_h_fade .batch_h_info.sold_out_h {
    border: none;
    text-align: right;
}
.next_batch_bl.next_batch_highlight .batch_h .batch_h_info:before {
    content: '';
    display: block;
    width: var(--bgPercent);
    background: #DFE0E0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 15px;
    z-index: -9;
}
.next_batch_bl.next_batch_highlight .batch_h.batch_h_fade .batch_h_info.sold_out_h span {
    color: #212428;
}
.next_batch_bl.next_batch_highlight .batch_h .batch_h_info {
    background: #DFE0E0;
    border-radius: 20px;
    position: relative;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    margin: auto 0;
    padding: 4px 10px;
    border-color: none !important;
    z-index: 9;
}

.next_batch_bl.next_batch_highlight .batch_h.batch_h_fade .batch_h_info {
    text-align: right;
}

.next_batch_bl.next_batch_highlight .batch_h {
    display: grid;
    grid-template-columns: calc(100% - 50%) 1fr;
    gap: 10px;
}
.batch_h.reserved_batch {
    border-radius: 99.608px;
    border: 1px solid var(--Ice, #91BAEC);
    background: #FFF;
}
.batch_h.reserved_batch .batch_h_month {
    border-radius: 99.608px;
    background: var(--Ice, #91BAEC);
    box-shadow: 0px 0px 6.641px 0px rgba(0, 0, 0, 0.10);
    max-width: 200px;
    padding: 3px 10px;
    font-size: 14px !important;
    color: #212428;
}
.next_batch_bl.next_batch_highlight .batch_h .batch_h_month{
    color: #212428;
    font-size: 12px;
    font-weight: 500 !important;
}
.next_batch_bl.next_batch_highlight .batch_h.batch_h_fade .batch_h_month {
    opacity: 1;
}
.batch_h.reserved_batch .batch_h_info:before {
    content: '';
    display: block;
    width: var(--bgPercent);
    background: #fff !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 15px;
    z-index: -9;
}
.batch_h.reserved_batch .batch_h_info {
    background: #fff !important;
    border: 0 !important;
    color: #000 !important;
    text-align: right;
}
.reserved_batch .batch_h_info {
    font-size: 12px !important;
}
 .next_batch_bl.next_batch_highlight {
    padding: 20px 10px;
    margin-top: 20px;
}
 .next_batch_bl.next_batch_highlight h5 {
    font-size: 16px;
}
 .next_batch_bl.next_batch_highlight p {
    font-size: 16px;
    font-family: 'TT Commons';
}
 .next_batch_bl.next_batch_highlight h5 {
    font-family: "TT Commons";
    font-size: 16px;
    font-weight: 600;
}
.target_areas_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.get_compliment_wrap .gc_img img {
    width: 100%;
    height: 100%;
}
.swiper-slide.gc_img{
    height: auto;
}

.get_compliment_wrap #pills-tab-skin {
    max-width: 422px;
    border-bottom: 1px solid var(--Charcoal-30, #B5B6B7);
}
.tab_with_slider_new .swiper-button-next, .tab_with_slider_new .swiper-button-prev {
    background: #fff;
    border: 1px solid #000;
    border-radius: 100%;
    width: 44px;
}
.get_compliment_wrap .nav-pills .nav-link.active, .get_compliment_wrap .nav-pills .show>.nav-link {
    text-decoration: none;
}
.get_compliment_wrap .nav-pills .nav-link {
    text-decoration: none;
    padding: 0 30px;
    border-radius: 0;
    margin-bottom: 0;
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.get_compliment_wrap .nav-pills .nav-link.active{
   border-bottom: 2px solid var(--Charcoal, #212428);
   font-weight: 600;
}
.refill_bl .thumbsSlider_wrap .swiper-button {
    border: 1px solid #000;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.refill_bl .bfs_mb_wrapThumb img {
    height: 70px;
    width: 70px;
}
.refill_bl .thumbsSlider_wrap .swiper-thumbs {
    max-width: calc(100% - 120px);
}
.bs_feature.correctCircle ul li:before {
    content: url(./tick_blue.svg);
}
.bs_feature.incorrectCircle ul li:before {
    content: url(./cross_grey.svg);
}
.mi-patches-pdf .bs_versace {
    top: calc((var(--height-header)) / 1 - 48px);
    background: #212428;
}
.mi-patches-pdf .bs_vs_item .bs_versace span {
    font-weight: 600;
}
.mi-patches-pdf .videosQure .swiper {
    padding-bottom: 10px;
}
.mi-patches-pdf .videosQure .pagination_navigation {
    margin: 32px auto;
}
.View_full_ingredient_list_wrapper{
    width: 100%;
    display: flex;
    margin-top: 32px;
}
.View_full_ingredient_list_wrapper a.View_full_ingredient_list {
    margin: 0 auto;
    display: flex;
    height: 50px;
    padding: 0px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 100px;
    background: var(--Mist, #F6F6F7);
}
.cross_icon_ugc {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.cross_icon_ugc img {
    height: 30px;
    width: 30px;
}
body.interest_in_ugc_active {
    position: relative;
}
body.interest_in_ugc_active:before {
    content: "";
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 999;
    opacity: 0.7;
}
.targeted_Patches_ingredients {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 32px 40px;
}
body.interest_in_ugc_active .targeted_Patches_ingredients{
    display: block;
}
.targeted_Patches_ingredients h3{
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}
.targeted_Patches_ingredients p{
   color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.marquee-row img {
    height: auto;
}
.result_content p {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.content_wrapper_pat h4 {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.content_wrapper_pat p {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.how_quick_wrapper img {
    max-width: 240px;
}
.how_quick_content h4 {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 4px;
}
.how_quick_content p {
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.result_s .result_s_wrapper .result_item {
    box-shadow: none;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    position: relative;
    background: #fff;
}
.key_ben ul, .key_ben li {
    padding: 0 !important;
}






@media(min-width:768px){
    .video_with_slide {
       flex-wrap: nowrap;
}
}
@media (max-width: 991px) {
    .skincaree {
        gap: 20px;
    }
    .upgrade_routine .ur_item_grid {
        grid-template-columns: 1fr 1fr;
        overflow-x: scroll;
    }
}

@media (max-width: 767px) {
    .targeted_Patches_ingredients {
        max-width: 95%;
    }
    .skincare_slider_n p {
        font-size: 16px;
    }
    .skin_item_n_tag {
        display: flex;
        justify-content: center;
    }
    .skin_item_n_tag p span.sn_tag {
        max-width: max-content;
        display: block;
        margin: 0 auto !important;
    }
    .how_quick_wrapper img {
        max-width: 100px;
    }
    .result_content p{
        font-size: 16px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    .bs_img img {
        aspect-ratio: unset;
        object-fit: unset;
        border-radius: unset;
    }
    .mi-patches-pdf .bs_versace {
        top: calc((var(--height-header)) / 1 - -25px);
    }
    .upgrade_routine .ur_item {
        min-width: 250px;
    }
    .skin_item_n {
        padding: 16px;
    }
    .mi-patches-pdf .shipping {
    grid-template-columns: 1fr 1fr 1fr;
}
.mi-patches-pdf .shipping .s_bx {
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
}
    .get_compliment_wrap .nav-pills .nav-link {
        padding: 0 15px;
    }
    .get_compliment_wrap #pills-tab-skin {
        max-width: 298px;
    }
    .supply-detail.supply-detail-without-counter .supply_steps {
        padding-top: 0;
    }
    .max_eff_images {
        margin: 10px 0;
    }
    .mi_patches_pdp label.monthly_plans {
        height: 136px;
    }
    .max_eff p {
        letter-spacing: -0.2px;
    }
    .mi_patches_pdp .planBlock .plan_choosed span {
        padding: 2px;
    }
    .mi_patches_pdp .planBlock .monthly_plans .price .regular_price {
        font-size: 12px;
        font-weight: 500;
    }
    .mi_patches_pdp .buy_btn {
        font-size: 18px;
        font-weight: 500;
    }
    .mi_patches_pdp span.savedAmount{
        font-weight: 700;
    }
    .mi_patches_pdp .planBlock .monthly_plans .plan_prc.sale_price{
        font-size: 12px;
        font-weight: 500;
    }
    .max_eff_images {
        gap: 3px;
    }

    .choose_bundle-offer .bundle_offer-content .planBlock .monthly_plans .price .regular_price {
        font-size: 20px;
    }
    .planBlock .monthly_plans .plan_des { 
        font-size: 11px;
    }
    .mi-patches-pdf .rightCircle {
        width: 100%;
    }

    .mi-patches-pdf .r_c_info .c_information p {
        font-size: 10px;
    }

    .mi-patches-pdf .refill_info .refill_review .star_gp img {
        max-width: 93px;
    }

    .mi-patches-pdf .refill_bl.tabSlider .refill_info .section_header .title-xl {
        font-size: 34px;
        line-height: 40px;
    }

    .mi-patches-pdf .skincare_right {
        padding: 10px;
    }

    .mi-patches-pdf .beauty_skincare .bs_item h4 {
        max-width: 146px;
        margin: 0 auto;
    }

    .patches_tech_grid {
        grid-template-columns: 1fr;
    }

    .skincaree {
        gap: 20px;
    }

    .skincaree p {
        padding: 15px;
        padding-bottom: 0;
    }

    .skincaree .accordionTechnologyWrapper .accordion-body {
        padding: 0;
        padding-bottom: 15px !important
    }

    .patches_ingredients .accordion {
        display: block;
    }

    .patches_ingredients .skincare_right .accordion-body p {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.14px;
    }

    .patches_ingredients .accordion-item {
        margin-bottom: 10px;
    }
    .mi-patches-pdf .app_press_sl_content {
        padding: 0 !important;
    }
    .skincare_slider_n .skin_item_n_tag .sn_tag {
        margin-left: 5px;
        padding: 2px 10px;
    }

    .skincare_slider_n .skin_item_n_tag .sn_tag,
    .skincare_slider_n .skin_item_n_tag p {
        font-size: 16px;
    }
    .mi-patches-pdf .refill_s_tab .nav-pills .nav-link {
        padding: 0 14px;
    }
    .mi-patches-pdf .refill_s_tab ul{
        gap: 5px;
    }
    .target_areas_grid{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
}

}

@media (max-width: 575px) {
    .mi_landing .section_header, .chest_pdp .section_header {
        margin-left: auto;
    }
    .skincaree_main {
        gap: 20px;
    }

    .patches_tech_grid .patches_tech_img img {
        max-width: 120px;
    }

    .ingredients_item p {
        font-size: 12px;
    }

    .combat_slider .swiper-wrapper {
        justify-content: unset;
    }
    .mi_landing_result .pagination_navigation .swiper-button {
        top: 25px;
    }
}

/* ======= mi-patches-pdf end ======== */