.mi_dark_spots .serum_icons_grid {
    grid-template-columns: 1fr;
    gap: 10px;
}
.mi_dark_spots .icon_ser {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: start;
}
.mi_dark_spots .img_ser {
    margin-top: 0;
}
.mi_dark_spots .img_ser img {
    height: 157px;
}