.item_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(199, 231, 220, 1);
    padding: 15px 0;
    height: 100%;
}
.img_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.img_wrapper img {
    width: 70px;
    height: 52px;
    object-fit: contain;
}
.qty {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.13px;
}
.whats_in_box_outer h3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.16px;
}
.manual_content .step ul li {
    margin-bottom: 10px;
}
.list_style_number li {
    list-style-type: number !important;
}
.inst_guide_ctm_imr .d-grid {
    grid-template-columns: auto 1fr;
}
.ct_lis_nd li{
    margin-bottom: 20px !important;
}
.manual_content .accordion-body {
    padding: 0;
}
.manual_content .step ul li {
    margin-bottom: 20px;
}
.warning_yellow_icon {
    max-width: 18px;
    margin-top: -7px;
}
.q-urify_safety .safety-banner-cont h6 {
    margin-top: 20px;
}
.search_main button {
    right: 24px;
}


@media(max-width:767px){
    .inst_guide_ctm_imr .d-grid {
        grid-template-columns: 1fr;
    }
    #manual_content-3_4 .inst_guide_ctm_imr .d-grid {
        grid-template-columns: 1fr 2fr;
        place-items: start;
    }
    div#manual_content-5_3 .inst_guide_ctm_imr .d-grid {
        grid-template-columns: 1fr 2fr;
        place-items: start;
    }
}