.our_story .skincare_right .skincare_percent .progressCont {
    margin-right: 10px;
}

.our_story .skincare_right .skincare_percent .ss_c_link {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    text-decoration: underline;
    padding-left: 5px;
}

.our_story .trusted_bl {
    padding: 60px 0;
}
.p_bl_header p {
    color: #C2BCB1;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.marquee-item-list li {
    padding-right: 80px;
}
.fastest_growing_item {
    padding: 20px 15px;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #C7E7DC;
    background: #FFF;
    box-shadow: 0px 3px 8px 0px rgba(186, 189, 188, 0.28);
    text-align: center;
    margin: 0 auto;
    height: 100%;
}
.fastest_growing_item h3 {
    margin: 0;
    color: #250D00;
    font-family: "Canela Light";
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.28px;
}
.fastest_growing_item p {
    color: #250D00;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.14px;
}
.fastest_growing_startup .row {
    max-width: 1040px;
}





@media(max-width:767px) {
    .p_bl_header p{
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 1px;
    }

    .main_banner .main_b_wrapper.bg_gradient_mob {
        background: none;
    }
    .main_banner .main_b_wrapper .section_header {
        padding: 40px 0 0px 0;
    }
    .our_story .skincare_right .skincare_percent .ss_c_link {
        font-size: 10px;
        line-height: 22px;
        padding-left: 3px;
    }

    .our_story .skincare_right p {
        line-height: 17px;
    }

    .our_story .trusted_bl {
        padding: 30px 0;
    }
    .fastest_growing_item {
        padding: 15px 5px;
    }
    .fastest_growing_item h3 {
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.22px;
    }
    .fastest_growing_item p {
        color: #250D00;
        text-align: center;
        font-family: Poppins;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.11px;
    }
}