.homepage .r_c_info {
    padding: 15px 0;
}

.homepage .trusted_left {
    max-width: 475px;
}

.homepage .main_banner .main_b_wrapper .m_b_content {
    max-width: 427px;
}

.homepage .main_banner .bg_banner {
    /* min-height: 500px; */
    object-fit: cover;
    object-position: right;
}

/* == bestseller section start == */
.bestseller {
    background: linear-gradient(269deg, #d2ece3 38.74%, rgba(199, 231, 220, .17) 51.88%, rgba(255, 255, 255, .12) 91.02%);
    padding: 60px 0 96px;
}

.bestseller .swiper {
    overflow: visible !important;
    overflow-x: clip !important;
}

.bestseller-block {
    background: #fff;
    border: 1.10092px solid #c7e7dc;
    box-shadow: 0 5.50459px 16.5138px rgba(176, 176, 176, .25);
    border-radius: 8px;
    padding: 0 28px 40px;
}

.bestseller-img {
    position: relative;
    width: 100%;
    height: 173px;
    padding-bottom: 0;
    overflow: unset;
    max-width: 222px;
    margin: -130px auto 0;
    text-align: center;
}

.bestseller-img img {
    object-fit: contain;
    object-position: bottom;
    position: relative;
    max-width: 100%;
    height: 100%;
}

.bestseller-content .badge-seller {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 3.30275px;
    text-transform: uppercase;
    color: #dd4d45;
}

.bestSellerbtn {
    max-width: 265px;
    margin: 0 auto;
}

.bestseller-content h4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Canela Web';
    text-align: center;
    letter-spacing: .01em;
    color: #000;
    margin: 12px 0 15px;
}

.bestseller-content p {
    font-weight: 400;
    text-align: center;
    margin: 26px auto 40px;
    max-width: 265px;
}

.s-block-2 {
    margin-top: 0;
}

.s-block-2 .bestseller-img {
    height: 210px;
}

.bestseller .swiper-wrapper {
    /* align-items: stretch; */
    align-items: end;
}

.bestseller .swiper-wrapper .swiper-slide {
    /* height: unset; */
}

/* .bestseller .swiper-pagination {
    display: none;
} */

.bestseller-wrap {
    text-align: center;
}

/* == solutions form start == */
.solution_form {
    background: #CCE5DD;
    text-align: center;
}

.solution_form .form-btn,
.solution_form .sf_form input {
    padding: 15px 20px;
}

.sf_form {
    max-width: 430px;
    margin: 0 auto;
    margin-top: 60px;
}

.sf_form input {
    max-width: 430px;
    width: 100%;
    padding: 15px 55px 15px 15px;
    border-radius: 40px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 7px 15px 0px #0000001A;

}

.form-btn {
    width: 100%;
    padding: 15px 55px 15px 15px;
    border-radius: 40px;
    border: none;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
}

.form-btn:hover {
    color: #fff;
}

/* == solutions form end == */

/* == personalized treatment start == */
.personalized_t {
    background-color: var(--clr-yellow);
}

.personalized_t .section_header {
    padding-bottom: 10px;
}

.personalized_t .title-lg {
    max-width: 514px;
    margin-left: auto;
    margin-right: auto;
}

.pt_icons_wrapper {
    max-width: 950px;
    margin: 0 auto;
}

.pt_item {
    text-align: center;
    max-width: 200px;
    margin: 20px auto;
}

.pt_item img {
    /* max-width: 50px; */
    height: 64px;
}

.pt_item p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    padding-top: 10px;
}

.pt_btn {
    margin-top: 40px;
}

.pt_btn {
    background: #000;
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 14px 30px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

@media(max-width:991px) and (min-width:720px) {

    .homepage .main_banner .bg_banner,
    .homepage_banner .bg_banner {
        min-height: 450px;
        object-fit: cover;
        object-position: right;
    }
}

@media(max-width:767px) {

    .bestseller-content {
        text-align: center;
    }

    .bestseller-img {
        margin: -105px auto 10px;
    }

    .pt_btn {
        font-size: 16px;
        line-height: 20px;
    }

    .pt_btn {
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
    }

    .pt_item {
        margin: 25px auto;
    }

    .personalized_t .section_header p {
        font-size: 14px;
    }

    .press_slider.press_slider_row2 .ps_wrapper {
        margin: 10px 0;
        justify-content: space-evenly;
    }
}

@media (max-width: 640px) {
    .bestseller {
        padding: 150px 0 30px;
        background: linear-gradient(0deg, #FFFAF1 0%, #CCE5DD 77.94%);
    }

    .bestseller-content h4 {
        margin: 5px 0 15px;
    }

    .bestseller-content p {
        margin: 24px auto 40px;
    }
}

@media (max-width: 556px) {
    .section_header {
        max-width: 338px;
    }

    .homepage .main_banner .main_b_wrapper .m_b_content .btn_white {
        margin: 40px auto;
        margin-left: auto !important;
    }

    .homepage .main_b_wrapper .container {
        padding-right: 19px !important;
        padding-left: 19px !important;
    }

    .homepage .main_banner .main_b_wrapper .m_b_content .m_b_review {
        max-width: 276px;
        margin: 0 auto;
    }
}

/* ================================== homepage old start ================================ */
.homepage_banner .homepage_info {
    position: absolute;
    top: 0;
    min-height: 100%;
    display: flex;
    align-items: center;

}

.homepage_banner .homepage_info_1 {
    color: #FFF;
    font-family: 'Canela Web';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 47.896px;
    letter-spacing: 0.6px;
}

.homepage_banner .homepage_info_2 {
    color: #FFF;
    font-family: Canela Web;
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: 0px;
}

.homepage_banner .homepage_info_3 {
    font-weight: 500 !important;
    font-family: Canela Web;
}

.homepage_banner .homepage_info_4 {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.13px;
}

.homepage_banner .homepage_paragraph {
    width: 469px;
}


.homepage_banner .btn-bfBundle {
    display: inline-block;
    text-align: center;
    padding: 16px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    /* max-width: fit-content; */
    width: 100% !important;
    letter-spacing: 0.22px;
    text-transform: capitalize;
    position: relative;
    /* z-index: 99999999; */
    font-family: 'Poppins';
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.button_shop {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.homepage_banner .btn-bfBundle:hover {
    text-decoration: none;
}

.homepage_banner .homepage_content {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 500px;
}

@media screen and (max-width: 768px) {

    .button_shop {
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .homepage_banner .homepage_content {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        padding: 20px 0 10px 0;
    }

    .homepage_banner .homepage_info_1 {
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.34px;
    }

    .homepage_banner .homepage_info_2 {
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        line-height: 38px;
        letter-spacing: 0.26px;
        margin-top: 0 !important;
    }

    .homepage_banner .homepage_info_4 {
        margin-top: 1rem;
    }

    .homepage_banner .mob_view {
        display: grid;
        position: relative;
        bottom: 0 !important;
    }

    .homepage_banner .btn-bfBundle {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }
}

.product_slider .swiper-slide h3 {
    margin: 5px 0;
    font-size: 8px;
    line-height: 11.02px;
    font-weight: 400;
    color: #000;
    text-align: center;
}

/* .product_slider .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto !important;
} */

.product_slider .swiper-slide>a {
    display: inline-block;
    max-width: 70px;
}

.product_slider .swiper-slide:first-child {
    padding-left: 10px;
}

.product_slider {
    padding: 10px 0;
}

.product_slider img {
    width: 70px;
    height: 70px;
}

.ss_clinical .ss_c_detail a.ss_c_link {
    font-size: 13px;
    line-height: 24px;
}

@media(max-width:767px) {
    .ss_clinical .ss_c_detail a.ss_c_link {
        font-size: 12px;
        line-height: 22px;
    }

    .homepage .trusted_bl {
        background: linear-gradient(180deg, rgba(199, 231, 220, .91) -98.65%, #fff 69.3%)
    }
    .sf_form {
        margin-top: 35px !important;
    }
    
}

/* =============================== announcement bar start ================== */
/* .announcement_bar p {
    font-size: 13px;
}

.announcement_bar p span {
    font-weight: 700;
}

.announcement_bar p .green_coloured {
    background-color: var(--clr-green);
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin-left: 10px;
    font-size: 15px;
}

@media(max-width:767px) {
    .announcement_bar p {
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 0.3px;
    }

    .announcement_bar p .green_coloured {
        margin-left: 5px;
        font-size: 12px;
    }
} */

/* =============================== announcement bar end ================== */
/* ================================== homepage old start ================================ */