.welcome_wrapper .title-xl {
    font-size: 45px;
    line-height: 57px;
}

.welcome_grid {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.welcome_item_wrap {
    max-width: 552px;
}

.welcome_item_wrap .welcome_info {

    border-radius: 12px;
    border: 1px solid #D0D0D0;
    background: var(--White, #FFF);
    padding: 30px;
}

.welcome_item {
    max-width: 291px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.black_btn {
    background-color: #000;
    color: #fff;
}

.welcome_btns {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.welcome_btns a {
    border: 1px solid #000;
    border-radius: 30px;
    padding: 11.795px 9px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 17.59px;
    letter-spacing: 0.264px;
}

.welcome_desc p {
    opacity: 0.8;
}

.welcome_btns a span {
    margin-right: 8px;
}

.welcome_btns a.download_btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.59px;
    letter-spacing: 0.264px;
    opacity: 0.8;
    color: #000;
}

.hassle_btn {
    max-width: 210px;
    width: 100%;
    text-align: center;
}

@media(max-width:767px) {
    .welcome_grid {
        grid-template-columns: 1fr;
    }

    .welcome_btns {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .welcome_btns .or_text {
        position: relative;
    }

    .welcome_btns .or_text p {
        padding: 0 20px;
        max-width: fit-content;
        text-align: center;
        margin: 0 auto;
        background: #fff;
        z-index: 9999;
        position: relative;
    }

    .welcome_btns .or_text:after {
        position: absolute;
        content: '';
        background-color: #B8B8B8;
        height: 1px;
        width: 100%;
        left: 0;
        right: 0;
        top: 50%;
    }

    .welcome_wrapper .title-xl {
        font-size: 34px;
        line-height: 40px;
    }

    .welcome_btns a {
        font-size: 18px;
    }

    .hassle_btn {
        max-width: 100%;
    }
}