.subscriptions_section {
    margin: 70px 0;
}

.subscriptions_section .subscriptions_header {
    max-width: 714px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.subscriptions_section .subscriptions_header .subscription_subheadline {
    font-family: 'Canela Web';
    font-size: 36px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0.36px;
    margin-bottom: 30px;
}

.subscriptions_section .subscriptions_header .subscription_subtext {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    font-family: 'Canela Light';
}

.subscriptions_section .subscriptions_header .subscription_subtext:not(:last-child) {
    margin-bottom: 30px;
}

.subscriptions_section .subscriptions_content p:not(:last-child) {
    margin-bottom: 30px;
}

.subscriptions_section .subscriptions_content {
    padding-bottom: 30px;
    border-bottom: 1px solid #dee2e6;
}

.subscriptions_section .cancel_section {
    padding: 35px 0;
    border-bottom: 1px solid #dee2e6;
}

.subscriptions_section .cancel_section h6 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.subscriptions_section a {
    text-decoration: underline;
    color: #000;
}

.subscriptions_section ul li {
    list-style: disc;
    padding-bottom: 10px;
    font-size: 14px;
}

.subscriptions_section ol li {
    list-style: decimal;
    padding-bottom: 10px;
    font-size: 14px;
}

.subscriptions_section ._abc ul li {
    list-style: lower-alpha;
    padding-bottom: 10px;
}

.subscriptions_section ul {
    padding-left: 40px;
}

.subscriptions_section ol {
    padding-left: 40px;
}

.subscriptions_section .header_content {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .subscriptions_section {
        margin: 40px 0;
        margin-bottom: 70px;
    }

    .subscriptions_section .subscriptions_header {
        border-bottom: 1px solid #ddd;
    }

    .subscriptions_section .subscriptions_header {
        text-align: start !important;
        padding-bottom: 30px;
        margin-bottom: 00px;
    }

    .subscriptions_section .subscriptions_header .subscription_subheadline {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0.28px;
    }

    .subscriptions_section .subscriptions_header .subscription_subtext {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.16px;
        font-weight: 600;
    }

    .subscriptions_section .subscriptions_content {
        margin-top: 30px;
    }

    .subscriptions_section .header_content {
        font-weight: normal;
    }

    .subscriptions_section .cancel_section {
        padding: 25px 0;
        border-bottom: 1px solid #dee2e6;
    }

    .subscriptions_section .cancel_section p:not(:last-child) {
        margin-bottom: 30px;
    }
}