/* ------------------ Refill Banner End ------------------- */
.press_bl {
    padding: 44px 0;
    background-color: var(--clr-yellow);
    overflow: hidden;
}

.press_bl .ps_wrapper {
    display: flex;
    justify-content: space-between;
}

.press_bl .ps_wrapper .ps_item {
    margin: 0 20px;
    text-align: center;
}

.press_bl.press_bl_4 .ps_wrapper .ps_item {
    margin: 0px;
}

.press_bl .ps_item img {
    margin: 0 auto;
}

.press_bl .press_bl_wrapper {
    display: flex;
    justify-content: space-between;
}

.press_bl .slick-slide {
    margin: 0 27px;
}

.press_bl .slick-list {
    margin: 0 -27px;
}

.press_bl .p_bl_header p {
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.16px;
    font-weight: 700;
    color: #C2BCB1;
}

.ps_wrapper .swiper-slide {
    width: auto;
}

@media(max-width:991px) {
    .press_bl {
        padding: 30px 0;
    }
}

@media(max-width:991px) {
    .press_bl .p_bl_header {
        text-align: center;
        padding-bottom: 40px;
    }

    .press_bl .p_bl_header p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
    }
}

@media(max-width:767px) {
    .press_bl {
        padding: 15px 0 24px;
    }
    .qurify_water .press_bl {
        padding: 19px 0;
    }

    .press_bl .p_bl_header {
        text-align: center;
        padding-bottom: 25px;
    }

    .press_bl .ps_item img {
        height: 20px;
    }

    .press_bl.press_bl_4 .ps_item img {
        height: 17px;
        text-align: center;
    }
    .press_bl.press_bl_notSlider .ps_wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
}

    .press_bl.press_bl_notSlider .ps_item img {
        height: 20px;
        text-align: center;
    }
    .press_bl .ps_wrapper .ps_item{
        margin:0 10px
    }
}