/* --------------------- Unique Customizable Start ----------------------------- */

.unique_c .section_header .title-lg {
    max-width: 806px;
    margin: 0 auto;
}

.micro_infusion .unique_c .section_header .title-lg {
    max-width: 640px;
    margin: 0 auto;
}

.unique_c .section_header p {
    max-width: 733px;
    margin: 0 auto;
}

.u_text_only p {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    font-family: 'Canela Web';
}

.uc_grid {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
}


.unique_c_item {
    text-align: center;
}

.u_item_wrapper {
    padding: 27px 20px;
    border-radius: 25px;
    margin: 13px 0;
}

.u_item_header {
    /* max-width: 277px; */
    margin: 0 auto;
}

.u_item_wrapper .u_item_header h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    font-family: 'Canela Light';
    letter-spacing: 0.16px;
}

.unique_c_item .u_item_wrapper .u_item_header p {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

.u_ftr_item img {
    max-width: 40px;
    height: 40px;
}

.unique_c_item .u_item_wrapper .u_ftr {
    display: grid;
    width: 320px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.u_ftr_item p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    padding: 10px 0;
}

.hidden {
    display: none;
}

.u_item__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.u_item_question {
    border: none;
    border-radius: 30px !important;
    margin: 10px 0;
    padding: 0px 0;
    text-align: left;
}

.u_item_question.bg-yellow {
    background: var(--clr-yellow);
}

.u_item_question.bg-grey {
    background: var(--clr-grey);
}

.u_item_question .accordion-button {
    padding: 15px 20px;
    background: none;
    border: none;
    box-shadow: none;
    font-size: 14px;
    color: inherit;
}

.u_item_expandable {
    padding: 0px 0px 0;
    border-radius: 20px;
    margin: 0px 0;
}

.skin_promises .u_item_expandable {
    border-radius: 8px;
}

.u_item_question .accordion-body {
    padding: 0 20px 20px;
}

.u_item_question .accordion-button::after {
    background: none;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    content: '+';
}

.u_item_question .accordion-button:not(.collapsed)::after {
    content: '-';
}

.u_item_expandable .u_item__accordion {
    cursor: pointer;
    font-size: 19px;
    font-weight: 900;
}

.u_item_expandable .u_ques h3 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 0;
}

.u_item_expandable .u_ques {
    text-align: left;
}

.u_item__hidden-div .u_item__text {
    padding-top: 10px;
}

.accordion-item p {
    padding: 10px 0;
}

.cant_decide .section_header h3 {
    font-family: 'Canela Web';
}

.unique_review {
    padding: 20px 0;
    max-width: 300px;
    margin: 0 auto;
}

.unique_review .u_review {
    padding: 10px 0;
}

.unique_review .u_review p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
}

.unique_review .u_verified {
    display: flex;
    justify-content: center;
}

.unique_review .u_verified p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    margin-left: 7px;
}

.technology_light .accordion-item p {
    padding: 5px 0;
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
}

.technology_light .accordion-item p>span {
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    color: #C7E7DC;
    padding-right: 5px;
}

.technology_light #accordionTechnology {
    max-width: 472px;
}

.technology_light .tl_content .tl_info_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.technology_light .tl_content .tl_info_wrap p {
    padding-left: 22px;
    margin: auto 0;
    font-size: 11px;
    font-weight: 400;
}

.technology_light .tl_content .tl_info_wrap .tl_info {
    display: flex;
    align-items: center;
}

.technology_light .tl_content .tl_info_wrap .tl_info .tl_box {
    height: 32px;
    width: 8px;
    border-radius: 7px;
}

.technology_light .tl_content .tl_info_wrap .tl_info .tl_box.tl_red {
    background: #E83C3F;
}

.technology_light .tl_content .tl_info_wrap .tl_info .tl_box.tl_purple {
    background: #912A5C;
}

@media(max-width:991px) {
    .u_text_only {
        padding: 20px 0;
    }

    .unique_c {
        background: none;
    }
}

@media(max-width:767px) {
    .uc_grid {
        grid-template-columns: 1fr;
    }

    .unique_c {
        padding: 40px 0;
    }

    .u_item_wrapper .u_item_header h3 {
        font-size: 22px;
        line-height: 28px;
    }

    .unique_c_item .u_item_wrapper .u_item_header p {
        font-size: 13px;
    }

    .u_ftr_item p {
        font-size: 11px;
    }

    .unique_c_item .u_item_wrapper .u_ftr {
        width: 100%;
    }

    .u_text_only {
        padding: 40px 0 !important;
    }

    .u_item_expandable .containers {
        font-size: 13px;
    }

    .u_text_only p {
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
        font-family: 'Canela Light';
    }

    .qurify_water .technology_light {
        padding-top: 70px;
    }

    .technology_light .tl_content .tl_info_wrap .tl_info {
        max-width: 132px;
    }

    .technology_light .tl_content .tl_info_wrap p {
        padding-left: 10px;
        font-size: 10px;
        line-height: 16px;
    }
}

@media(max-width:556px) {
    .unique_c .section_header {
        max-width: 327px;
    }
}