.videosQure .section_header.mw-500 {
    max-width: 500px;
    margin: 0 auto;
}

.videosQure .section_header .title-lg {
    max-width: 423px;
    margin: 0 auto;
}

.serum_pdp .videosQure .section_header {
    max-width: 469px;
    margin: 0 auto;
}

.mi_landing .videosQure {
    padding: 0 0 30px 0;
}

.qureVideo__block {
    border-radius: 8px;
    overflow: hidden;
    height: 318px;
}

.qureVideo__block>.video-js {
    height: 100% !important;
}

.qureVideo__block>.video-js .vjs-tech {
    object-fit: cover;
    object-position: center;
}

.qureVideo__block .qureUser__icon {
    background: #000;
    color: rgb(178 178 178);
    border-radius: 40px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: absolute;
    bottom: 4px;
    left: 7px;
}

.qureVideo__block .vjs-control-bar {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 0px 8px 5px 8px;
    height: auto;
    visibility: visible !important;
    opacity: 1 !important;
}

.qureVideo__block .qureVideo-js.vjs-paused button.vjs-big-play-button {
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qureVideo__block .qureVideo-js.vjs-paused button.vjs-big-play-button .vjs-icon-placeholder:before {
    top: -1px;
}

.qureVideo__block .vjs-control-bar .vjs-play-control,
.qureVideo__block .vjs-control-bar .vjs-progress-control,
.qureVideo__block .vjs-control-bar .vjs-remaining-time,
.qureVideo__block .vjs-control-bar .vjs-picture-in-picture-control,
.qureVideo__block .vjs-control-bar .vjs-fullscreen-control,
.qureVideo__block .vjs-control-bar .vjs-volume-control {
    display: none;
}

.qureVideo__block .vjs-control-bar .vjs-volume-panel.vjs-hover {
    width: 30px;
}

.qureVideo__block .vjs-control-bar .vjs-volume-panel {
    background: #000;
    color: rgb(178 178 178);
    border-radius: 40px;
    height: 30px;
    width: 30px;
}

.qureVideo__block .vjs-control-bar .vjs-volume-panel .vjs-mute-control {
    width: 30px;
}

.vjs-poster img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media(min-width:767px) {
    .videosQure .swiper-pagination {
        display: none;
    }
}

@media(max-width:767px) {
    .videosQure .section_header {
        max-width: 327px;
        margin: 0;
    }
    #qure__swiper-videosQure {
        padding: 0 30px;
    }
}
