/* == main banner start == */
.main_banner {
    position: relative;
}

.app_page .main_banner .section_header {
    max-width: 569px;
    margin-left: 0;
}

.affiliate .main_banner .section_header .title-xl {
    max-width: 400px;
}

.banner_content {
    max-width: 379px;
}

.sh_desc {
    padding: 50px 0 30px;
}

.main_banner .bg_banner {
    width: 100%;
}

.main_banner .main_b_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.main_banner .main_b_wrapper .section_header {
    padding: 0 0 30px 0;
}

.app_page .app_img {
    display: flex;
    align-items: center;
}

.main_banner .unique_c_list ul {
    display: block;
}

.main_banner .unique_c_list {
    margin-top: 10px;
}

.mi_landing .main_banner .unique_c_list ul li {
    padding: 5px 0;
}

@media(max-width:767px) {
    .app_page .main_banner .section_header {
        max-width: 301px;
        margin: 0 auto;
    }

    .main_banner .main_b_wrapper.bg_gradient_mob {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 28.37%, rgba(0, 0, 0, 0) 100%);
    }

    .app_page .app_img {
        justify-content: center;
    }

    .mb_contents {
        text-align: center;
    }

    .main_banner .main_b_wrapper.align-top {
        align-items: start;
        top: 30px;
    }

    .star {
        text-align: center;
    }

    .main_b_wrapper .app_item img {
        filter: opacity(0.7);
    }

    .main_banner .main_b_wrapper .section_header {
        padding: 0 0 0px 0;
    }
}



/* == main banner end == */