/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* .offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    
    outline: 0;
    transition: transform .3s ease-in-out
} */

@media (prefers-reduced-motion:reduce) {
    .offcanvas {
        transition: none
    }
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background: #000;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.offcanvas-header .cart-drawer-heading {
    font-size: 15px;
    margin: 0;
}

.offcanvas-header .btn-close {
    padding: 5px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M1.21387 13L12.7857 1' stroke='white' stroke-width='2.5'/%3E%3Cpath d='M13 12.7856L0.999999 1.21382' stroke='white' stroke-width='2.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    margin: 0;
    max-width: 4px;
    height: 4px;
}

.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5
}

.offcanvas-body {
    flex-grow: 1;
    padding: 1rem 1rem;
    overflow-y: auto;
}

.offcanvas-start {
    top: 0;
    left: 0;
    width: 580px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(-100%)
}

.offcanvas-end {
    width: 580px;
}

.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: 30vh;
    max-height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    transform: translateY(-100%)
}

.offcanvas-bottom {
    right: 0;
    left: 0;
    height: 30vh;
    max-height: 100%;
    border-top: 1px solid rgba(0, 0, 0, .2);
    transform: translateY(100%)
}

.offcanvas.show {
    transform: none;
    visibility: visible !important;
}


.cart-content-area {
    height: 100%;
}

.minicart-loop {
    overflow-y: scroll;
}

.minicart-item {
    margin: 10px 20px;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid #C7E7DC;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(176, 176, 176, 0.25);
}

.product-remove {
    line-height: 1;
    cursor: pointer;
    margin-left: 5px;
}

.minicart-item .mini-img-wrapper {
    overflow: hidden;
    width: 115px;
    max-width: 115px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mini-img {
    max-width: 100%;
    height: auto;
    /* -o-object-fit: cover; */
    /* object-fit: contain; */
    /* -o-object-position: top; */
    /* object-position: center; */
}

.minicart-item>.product-info {
    width: calc(100% - 115px);
    padding-left: 20px;
}

.minicart-item>.product-info .product_hdr {
    display: flex;
    flex-wrap: wrap;
}

.minicart-item>.product-info .product-title,
.minicart-item>.product-info .product-title a {
    color: #000;
    font-family: 'Canela Web';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.14px;
    flex: 0 0 auto;
    width: calc(100% - 25px);
    margin-bottom: 0;
}

.minicart-item>.product-info .product_rtngBx {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.minicart-item>.product-info .product-rating {
    display: flex;
    align-items: center;
}

.minicart-item>.product-info .product-rating .rtng_stars {
    margin-right: 8px;
}

.minicart-item>.product-info .product-rating .rtng_count {
    text-decoration: underline;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.minicart-item>.product-info .product-shipping {
    margin: 5px 0;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.minicart-item>.product-info .shp_icon {
    margin-right: 5px;
    width: 14px;
    height: 12px;
}

.minicart-item>.product-info .product-footer {
    border-top: 1px solid #EDE7DD;
    padding-top: 10px;
    margin-top: 8px;
}

.minicart-item>.product-info .qty_box {
    border: 1px solid #5C5C5C;
    padding: 3px;
    border-radius: 3px;
}

.minicart-item>.product-info .qty_box .qty-input {
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    width: 30px;
    border-left: 1px solid #5C5C5C;
    border-right: 1px solid #5C5C5C;
    font-size: 13px;
}

.minicart-item>.product-info .qty_box .qty-btn {
    border: none;
    background: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}

.minicart-item>.product-info .product-footer .product-price {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
}

.minicart-item>.product-info .product-footer .product-price.old {
    color: #b2b2b2;
    margin-right: 8px;
    text-decoration: line-through;
    text-decoration-color: #b2b2b2;
    text-decoration-thickness: 2px;
}

.minicart-extra {
    display: flex;
    padding: 14px 20px 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: inherit;
    background: #F5F5F5;
}

.minicart-footer {
    padding: 20px;
    -ms-border-top: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
}

.minicart-extra .extraTitle {
    font-family: 'Canela Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.16px;
}

.minicart-extra .discount_label {
    padding: 1px 4px;
    display: block;
    border-radius: 15.873px;
    background: #008763;
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.minicart-extra .extra-itemLoop {
    margin: 15px 0;
    width: 100%;
}

.minicart-extra .extra-item {
    margin: 0;
    padding: 15px 0 0 0;
    border-top: 1px solid #EDE7DD;
    justify-content: space-between;
}

.minicart-extra .extra-item+.extra-item {
    margin-top: 15px;
}

.minicart-extra .extra-item .extra-prd-img {
    width: 80px;
    max-width: 80px;
    margin-right: 20px;
}

.minicart-extra .extra-item .extra-prd-content {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 12px;
    align-items: center;
}

.minicart-extra .extra-item .extra-prd-content .extraPrcTitle {
    color: #000;
    font-family: 'Canela Web';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.16px;
    margin-bottom: 0;
}

.minicart-extra .extra-item .extra-prd-content p {
    font-size: 11px;
    font-style: italic;
    line-height: initial;
}

.minicart-extra .extra-item .extraPriceBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minicart-extra .extra-item .extraPriceBtn .product-price {
    color: #000;
    text-align: right;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.683px;
    letter-spacing: 0.16px;
}

.minicart-extra .extra-item .extraPriceBtn .product-price.old {
    color: #c4c4c4;
    text-decoration: line-through;
}

.minicart-extra .extra-item .extraBtn {
    position: relative;
    width: 75px;
    height: 28px;
    background-color: #000;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .11px;
    text-align: left;
    line-height: 27px;
    padding: 0 17px;
    color: #fff;
    border: none;
}

.minicart-extra .extra-item .extraBtn svg {
    position: absolute;
    right: 13px;
    top: 10px;
}

/* status bar */
.free_shpngBox {
    padding: 15px 20px;
    background: #000;
    color: #fff;
}

.free_shpngBox .free_shpTitle {
    color: #c7e7dc;
    font-weight: 400;
    margin: 0;
    font-size: 11px;
    line-height: 16px;
}

.free_shpngBox .shpng__bar {
    margin: 20px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.free_shpngBox .shpng__bar span {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border-radius: 20px;
}

.free_shpngBox .free_shpMsg {
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.free_shpngBox .statusBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: relative;
    cursor: default;
    width: calc(100% - 140px);
}

.statusBar::before {
    content: "";
    height: 6px;
    background-color: rgba(196, 196, 196);
    position: absolute;
    left: 1em;
    right: 1em;
}

.pBar {
    content: "";
    height: 6px;
    border-radius: 0 0 0.15em 0.15em;
    background-color: #c7e7dc;
    max-width: 100%;
    margin: 10px #000000 solid;
    position: absolute;
    left: 0;
    width: 0%;
}

.statusBar>.node {
    background-color: rgba(196, 196, 196);
    height: 1.2em;
    width: 1.2em;
    border-radius: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.node>.text {
    font-weight: 200;
    color: rgba(196, 196, 196);
    text-align: center;
    position: absolute;
    top: 2.5em;
    /* cursor: ; */
}

.node.done {
    background-color: var(--green);
}

.node>.text.done {
    color: var(--green);
}

.node>.main {
    position: absolute;
    border: 2px solid transparent;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.node>.main svg {
    width: 24px;
    height: 24px;
}

.node>.main.done {
    border: 2px #c7e7dc solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.minicart-shadow {
    box-shadow: 0px 0px 15px 0px rgba(176, 176, 176, 0.25);
}

.subtotal-wrapper {
    padding: 14px 20px;
    border-bottom: .7px solid #ede7dd;
}

.subtotal-wrapper .subtotal-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtotal-wrapper .subtotal-fields+.subtotal-fields {
    margin-top: 4px;
}

.subtotal-wrapper .subtotal-fields .sbtl_title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.subtotal-wrapper .subtotal-fields .sbtl_price {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
}

.subtotal-wrapper .subtotal-fields .sbtl_price .price.old {
    color: #b2b2b2;
    text-decoration: line-through;
}

.subtotal-wrapper .discountMsg {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.insurance-wrapper {
    padding: 14px 20px;
}

.insurance__title h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 7px;
}

.insurance__bottom-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.insurance__img-wrapper {
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.insurance__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 30px;
    flex: 0 0 auto;
}

p.insurance__text--top {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3px;
    cursor: pointer;
    line-height: initial;
}

p.insurance__text--top .insurance__text--info {
    height: 13px;
    width: 13px;
    margin-top: -3px;
}

p.insurance__text--bottom {
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0;
    line-height: initial;
}

.insurance__switch-wrapper {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: flex-end;
}


.insurance-wrapper .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 14px
}

.insurance-wrapper .switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.insurance-wrapper .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.insurance-wrapper .slider:before {
    position: absolute;
    content: "";
    height: 22.22px;
    width: 22.22px;
    left: -2px;
    bottom: -5px;
    background-color: #008763;
    -webkit-transition: .4s;
    transition: .4s
}

.insurance-wrapper input:checked+.slider {
    background-color: rgba(0, 135, 99, .3)
}

.insurance-wrapper input:focus+.slider {
    box-shadow: 0 0 1px #2196f3
}

.insurance-wrapper input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px)
}

.insurance-wrapper .slider.round {
    border-radius: 34px
}

.insurance-wrapper .slider.round:before {
    border-radius: 50%
}

.drawer__cart-total {
    padding: 0 0 15px 0;
    display: flex;
    justify-content: space-between;
}

.cart_items_subtotal_price {
    font-size: 14px;
    line-height: 30.4px !important;
    letter-spacing: .38px;
}

.drawer__cart-total-price {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0;
    align-items: center;
    gap: 10px;
}

.drawer__cart-savings {
    width: 145px;
    height: 17.733px;
    border-radius: 20.106px;
    background: #008763;
    text-align: center;
    font-size: 11.4px;
    font-weight: 400;
    color: #fff;
    line-height: 18px;
    letter-spacing: .3px;
}

.drawer__cart-total-price .old_price-cart {
    text-align: right;
    font-size: 22.8px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .38px;
    color: rgba(0, 0, 0, .3);
    font-family: Poppins;
    font-style: normal;
    text-decoration: line-through;
    letter-spacing: 1px;
    margin-right: 3px;
}

.drawer__cart-total-price .cart_items_subtotal_price {
    letter-spacing: 1px;
    font-size: 22.8px;
    font-weight: 600;
    line-height: normal !important;
}

.drawer__cart-checkout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.drawer__cart-checkout-btn .drawer__cart-checkout {
    border: transparent;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
    height: 52px;
    max-height: 52px;
    display: flex;
    background-color: #000;
    width: 100%;
}

.drawer__cart-checkout-btn .drawer__cart-checkout .lock-checkout {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
}

.drawer__cart-checkout-btn .drawer__cart-checkout svg path {
    fill: #fff;
}

.drawer__footer {
    padding-top: 7px;
    padding-bottom: 0;
}

.drawer__close {
    color: rgb(0 135 98 / 40%) !important;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 32.933px;
    letter-spacing: .38px;
    text-decoration-line: underline;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    text-decoration: underline;
    font-size: 12px !important;
    text-align: center;
    display: block;
}

.drawer__cart-payments {
    margin-top: 6px;
    padding-bottom: 15px;
    max-width: 100%;
}

/* Empty drawer */

.drawer__cart-is-empty {
    margin: 30px 49px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drawer__cart-empty-text {
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: .3px;
    text-align: center;
}

.drawer__cart-empty-text h4 {
    font-size: 36px;
    font-style: normal;
    line-height: 55px;
    letter-spacing: .36px;
    color: #000;
    margin: 0;
    max-width: 318px;
    font-family: Canela Web;
}

.drawer__cart-empty-text p {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .28px;
    color: #000;
    font-family: Canela Light;
    margin: 20px 0 59px;
}

.empty-product {
    border-radius: 16px;
    border: 1px solid #c7e7dc;
    background: #fff;
    padding: 33px 27px 32px;
    width: 100%
}

.cart_empty_class .my-cart__items {
    padding: 0
}

.empty-product .empty-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.empty-product .empty-title h4 {
    color: rgb(0 0 0 / 80%);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: .16px;
    margin: 0;
    font-family: 'Canela Web';
}

.empty-product .empty-title .empty-review {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration-line: underline;
    color: rgb(0 0 0 / 80%);
    margin-top: 10px
}

.empty-product .empty-title .empty-review>svg {
    margin-right: 10px;
}

.empty-product .empty-title .empty-review a {
    color: rgb(0 0 0 / 80%)
}

.empty-product .empty-main .empty-content {
    width: 209px
}

.empty-product .empty-main .empty-content ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.empty-product .empty-main .empty-content ul li {
    color: #000;
    font-size: 11px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding-bottom: 12px
}

.empty-main,
.review_main,
.upsell_image,
.upsell_price {
    align-items: center;
    display: flex
}

.empty-main {
    justify-content: space-between;
    margin-top: 15px
}

.empty-product .empty-main .empty-content ul li span {
    padding-right: 10px
}

.empty-product .drawer__cart-empty-shop-btn {
    gap: 0;
    margin: 21px 0 0
}

.empty-product .drawer__cart-empty-shop-btn a.drawer__cart-empty-button {
    width: 100%;
    text-decoration: none
}

.empty-product .drawer__cart-empty-shop-btn a.drawer__cart-empty-button h2.lock-checkout {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 0;
}

.drawer__cart-empty-shop-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.empty-product .drawer__cart-empty-shop-btn {
    gap: 0;
    margin: 21px 0 0;

}

.empty-product .drawer__cart-empty-shop-btn a.drawer__cart-empty-button {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 52px;
    max-height: 52px;
    display: flex;
    background-color: #000;
    border: transparent;
    border-radius: 100px;
    max-width: 502px;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.cart_items_subtotal_price_label {
    font-size: 11px;
    line-height: 24px;
    font-weight: 600;
}

@media (min-width: 767px) {
    .empty-mobile {
        display: none
    }
}

@media(max-width:767px) {
    .minicart-item .mini-img-wrapper {
        width: 90px;
        max-width: 90px;
    }

    .minicart-item>.product-info {
        width: calc(100% - 100px);
        padding-left: 10px;
    }

    .minicart-item>.product-info .product-title,
    .minicart-item>.product-info .product-title a {
        font-size: 14px !important;
        line-height: 18px;
        letter-spacing: .14px;
    }

    .minicart-extra .extra-item .extra-prd-content .extraPrcTitle {
        font-size: 14px;
    }

    .minicart-extra .extra-item .extra-prd-content p {
        font-size: 10px;
    }

    .minicart-item>.product-info .product_rtngBx {
        flex-wrap: wrap;
    }

    .minicart-extra .extra-item .extra-prd-content {
        flex: 0 0 auto;
        max-width: 250px;
    }

    .minicart-extra .extra-item .extraPriceBtn {
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: center;
        gap: 6px;
    }

    .minicart-item>.product-info .product-footer .product-price {
        font-size: 18px;
    }

    .minicart-item>.product-info .qty_box {
        padding: 2px;
    }

    .minicart-item>.product-info .qty_box .qty-input {
        width: 24px;
        font-size: 12px;
    }

    .minicart-item>.product-info .qty_box .qty-btn {
        padding: 0 2px;
    }

    .minicart-item>.product-info .product-footer .product-price.old {
        margin-right: 5px;
    }

    .minicart-item>.product-info .shp_icon {
        margin-right: 2px;
        margin-top: -1px;
    }

    .minicart-extra .extra-item .extraPriceBtn .product-price.old {
        font-size: 14px;
    }

    .minicart-item>.product-info .product-footer {
        flex-direction: row-reverse;
    }

    .empty-product .drawer__cart-empty-shop-btn a.drawer__cart-empty-button h2.lock-checkout {
        font-size: 18px;
    }

    .offcanvas-end {
        width: 375px;
    }

    .insurance__img-wrapper {
        max-width: 90px;
        padding-right: 10px;
    }

    .drawer__cart-is-empty {
        margin: 20px;
    }

    .empty-product .empty-title h4 {
        font-size: 14px;
        text-align: left;
    }

    .drawer__cart-empty-text h4 {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: .28px;
        width: 238px;
        margin: 0 auto;
    }

    .drawer__cart-empty-text p {
        font-size: 22px;
        line-height: 28px;
        letter-spacing: .22px;
        margin: 20px 0 28px;
    }

    .empty-product {
        padding: 16px 19px 31px;
    }

    .empty-product .empty-main .empty-content {
        width: 100%;
        margin-top: 26px;
    }

    .empty-main {
        flex-wrap: wrap;
        margin: 0;
    }

    .empty-title.dekstop-empty {
        display: none;
    }

    .empty-main .empty-img {
        display: flex;
        align-items: center;
    }

    .empty-main .empty-img img {
        width: 40%;
        margin-right: 10px;
    }

    .empty-product .empty-title h4 {
        font-size: 14px;
        text-align: left;
        font-family: 'Canela Regular';
        font-weight: 500;
    }

    .empty-product .empty-title .empty-review {
        margin-left: 0;
        text-align: left;
        justify-content: start;
        flex-wrap: wrap;
        line-height: 18px;
    }

    .empty-product .empty-title .empty-review svg {
        margin-bottom: 7px;
    }

    .cart_items_subtotal_price {
        font-size: 11px;
        letter-spacing: .3px;
        line-height: 24px !important;
    }

    .drawer__cart-total-price {
        flex-direction: row;
        gap: 0;
    }

    .drawer__cart-savings {
        font-size: 9px;
        line-height: 12px;
        height: 14px;
        width: auto;
        margin-right: 5px;
        padding: 1px 5px;
    }

    .drawer__cart-total-price .cart_items_subtotal_price,
    .drawer__cart-total-price .old_price-cart {
        font-size: 18px;
        letter-spacing: .18px;
    }

    .drawer__cart-checkout-btn .drawer__cart-checkout .lock-checkout {
        font-size: 18px;
    }
}