@font-face {
    font-family: 'Akkurat';
    src: url('/assets/Akkurat.eot');
    src: url('/assets/Akkurat.eot?#iefix') format('embedded-opentype'),
        url('/assets/Akkurat.woff2') format('woff2'),
        url('/assets/Akkurat.woff') format('woff'),
        url('/assets/Akkurat.ttf') format('truetype'),
        url('/assets/Akkurat.svg#Akkurat') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Median';
    src: url('/assets/PolySans-Median.eot');
    src: url('/assets/PolySans-Median.eot?#iefix') format('embedded-opentype'),
        url('/assets/PolySans-Median.woff2') format('woff2'),
        url('/assets/PolySans-Median.woff') format('woff'),
        url('/assets/PolySans-Median.ttf') format('truetype'),
        url('/assets/PolySans-Median.svg#PolySans-Median') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




/* NYC Fonts */
@font-face {
  font-family: "nyc"; 
  src:url("/assets/nyc.eot");
  src:url("/assets/nyc.eot?#iefix") format("embedded-opentype"),
    url("/assets/nyc.woff") format("woff"),
    url("/assets/nyc.ttf") format("truetype"),
    url("/assets/nyc.svg#nyc") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nyc" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="nyc-"]:before,
[class*=" nyc-"]:before {
  font-family: "nyc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nyc-design:before {
  content: "\61";
}
.nyc-coding:before {
  content: "\62";
}
.nyc-chart:before {
  content: "\63";
}
.nyc-right-arrow:before {
    content: "\64";
  }


/* NYC Fonts end */
