/* -------------------- Refill Banner Start ------------------- */
.refill_bl {
    padding-top: 5px;
    position: relative;
    min-height: var(--banner-height);
    overflow: hidden;
}

.micro_infusion .refill_info .section_header {
    max-width: 490px;
}

.micro_infusion_lp .refill_bl .refill_info {
    max-width: 451px;
}

.mi_landing .refill_bl .refill_info {
    max-width: 558px;
}

.chest_pdp .refill_bl .refill_info {
    max-width: 455px;
}

.refill_bl .refill_info {
    max-width: 537px;
}

.refill_bl.tabSlider .refill_info .section_header {
    padding: 0;
    max-width: 538px;
}

.refill_bl.tabSlider .refill_info .section_header .title-xl {
    font-size: 45px;
    line-height: 57px;
    font-weight: 500;
}

.refill_bl.tabSlider .refill_info .refill_review p {
    padding-top: 5px;
}

.refill_bl.tabSlider .refill_review {
    justify-content: start;
}

.refill_bl .refill_img img {
    width: 100%;
}

.refill_bl .refill_info {
    max-width: 475px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.qurify_water .refill_bl .refill_info {
    max-width: 549px;
}

.refill_info .section_header {
    padding-bottom: 0;
}

.swiper-slide.video_popup {
    position: relative;
}

.swiper-slide.video_popup .play_btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.serum_pdp .refill_bl .refill_info {
    max-width: 475px;
}

/* =========== refill review start  ======= */
.refill_review {
    display: flex;
    align-items: center;
    justify-content: center;
}

.refill_review p {
    font-size: 13px;
    line-height: 18px;
    margin-left: 12px;
    font-weight: 400;
    text-decoration: underline;
}

.gif_banner {
    height: 377px;
}


.productSlider {
    min-height: 100%;
}

@media(max-width:991px) {
    .refill_bl.tabSlider .refill_info .section_header .title-xl {
        font-size: 28px;
        line-height: 38px;
    }

    .chest_pdp .refill_bl.tabSlider .refill_info .section_header .title-xl {
        font-size: 34px;
        line-height: 40px;
    }
}

@media(max-width:767px) {

    .refill_review p {
        font-size: 10px;
        line-height: 16px;
        margin-left: 5px;
    }

    .refill_bl .refill_img {
        margin: 0 -24px;
    }

    .refill_bl .refill_img img,
    .refill_bl .refill_img img.gif_banner {
        width: 100%;
        height: 480px;
        object-fit: cover;
        object-position: top;
    }

    .refill_bl .refill_img .play_btn img {
        width: auto !important;
        height: auto !important;
    }

    .refill_bl {
        padding-top: 0px;
    }

    .qurify_water .refill_bl.tabSlider .refill_info .section_header .title-xl {
        font-size: 34px;
        line-height: 40px;
    }

}

@media(max-width:650px) {
    .refill_bl .refill_img img {
        height: 420px;
    }
}

@media(max-width:500px) {
    .refill_bl .refill_img img {
        height: 380px;
    }
}

@media(max-width:400px) {
    .refill_bl .refill_img img {
        height: 280px;
    }
}

@media(max-width:1199px) {
    /* .refill_cnt {
          position: relative;
      } */
}

/* =========== refill review end  ======= */


.refill_info .section_header .title-lg {
    letter-spacing: 0.16px;
    margin: 10px 0;
}

.refill_ftr {
    padding-top: 20px;
}

.r_ftr {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.r_ftr p {
    margin-left: 10px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.16px;
}

.r_ftr p span {
    font-weight: 600;
}

.r_ftr svg {
    min-width: 42px !important;
}

.green_bx {
    background-color: var(--clr-light-green);
    border-radius: 43px;
    position: relative;
    margin-top: 30px;
}

.green_bx .green_bx_header p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.16px;
}

.green_bx .g_bx_info {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.green_bx .green_bx_top {
    position: absolute;
    top: -21px;
    background: #000;
    color: #fff;
    right: 10%;
    border-radius: 13px 13px 0 0;
    padding: 5px 13px;
}

.green_bx .green_bx_top p {
    padding: 0 13px;
    font-size: 10px;
    line-height: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.green_bx .green_bx_header {
    display: -webkit-inline-box;
}

.green_bx p {
    line-height: 15px;
}

.green_bx .green_bx_right p {
    line-height: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.green_bx .green_bx_right p .compare_price {
    color: darkgrey;
    text-decoration: line-through;
    padding-right: 7px;
    font-size: 20px;
}

.green_bx .green_bx_right p .sale_price {
    font-size: 18px;
    font-weight: 700;
}

.green_bx .green_bx_header .save_bx {
    background: var(--clr-green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color: var(--clr-white);
    margin-left: 5px;
}

.green_bx .green_bx_header .save_bx p {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    padding: 0 10px;
}

.serum_bl {
    padding-top: 16px;
}

.serum_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.serum_wrapper p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
}

.serum_bx {
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-bottom: 58px;
}

.serum_bx.gold-silver {
    background: linear-gradient(to right, var(--clr-yellow), var(--clr-grey));
}

.serum_bx.gold {
    background: #FFFAF1;
}

.serum_bx.silver {
    background: #F5F5F5;
}

.serum_bx:hover {
    border: 1px solid #C7E7DC;
}

.serum_bx .s_img {
    padding: 15px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s_img img {
    max-width: 100%;
}

.s_name {
    border: 1px solid #D6D6D6;
    background: #fff;
    border-radius: 30px;
    padding: 10px;
    position: absolute;
    bottom: 1px;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serum_bl p {
    font-weight: 600;
}

.s_name p {
    font-size: 11px;
    line-height: 14px;
    font-weight: 300;
}

.serum_bx:hover .s_name {
    background: #C7E7DC;
    border: none;
    bottom: 0;
}

.serum_bx:hover .s_name p {
    font-weight: 600;
}

.buy_btn {
    background: #000;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    max-width: 100%;
}

.buy_btn p {
    letter-spacing: 0.2px;
    line-height: 20px;
    font-size: 20px;
}

.buy_btn p span {
    font-weight: 600;
}

.buy_btn img {
    position: absolute;
    right: 25px;
    top: 23px;
}

.buy_btn:hover {
    color: #fff;
}

.payment_method {
    display: flex;
    align-items: center;
    padding: 15px 0;
    justify-content: center;
}

.payment_method .pmt_img img {
    padding-right: 5px;
}

.payment_method p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
}

.shipping {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    grid-template-columns: 1fr 1fr;
}

.realResultSlider .swiper-slide {
    padding-top: 0px;
}

.subscription_bx {
    margin-bottom: 20px;
}

.subscription_bx .subscription_tab {
    display: flex;
    border: 1px solid #D6D6D6;
    border-radius: 40px;
    padding: 4px;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
    position: relative;
}

.subscription_bx .serum_prd {
    display: flex;
    width: 50%;
    min-height: 48px;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

.subscription_bx .serum_ttl {
    font-size: 14px;
    margin: 0;
}

.subscription_bx .subscription_tab .tab_glider {
    position: absolute;
    width: calc(50% - 4px);
    background: #C7E7DC;
    border-radius: inherit;
    z-index: 1;
    height: calc(100% - 8px);
    top: 50%;
    transform: translate(0%, -50%);
    transition: transform 0.25s;
}

.subscription_bx a {
    color: #000;
    text-decoration: underline;
}

.subscription_bx a:hover {
    color: #000;
    text-decoration: underline;
}

.subscription_bx .subscription_tab input {
    display: none;
}

.subscription_bx .subscription_tab .s_tab input {
    display: none;
}

.subscription_bx .subscription_tab .s_tab .serum_prd .serum_ttl {
    padding: 10px 3px;
    margin-bottom: 0;
    padding: 17px 25px;
}

.subscription_bx .subscription_tab input:checked+.serum_prd .serum_ttl {
    border-radius: 30px;
    font-weight: 600;
}

.subscription_bx input[id="m_Subscription1"]:checked~.tab_glider,
.subscription_bx input[id="m_Subscription3"]:checked~.tab_glider {
    transform: translate(0, -50%);
}

.subscription_bx input[id="m_Subscription2"]:checked~.tab_glider,
.subscription_bx input[id="m_Subscription4"]:checked~.tab_glider {
    transform: translate(100%, -50%);
}

.subscription_bx .subscription_tab .s_tab .serum_prd .serum_ttl {
    font-size: 14px;
    line-height: 26px;
}

.see_work.video_popup {
    position: relative;
}

.see_work .play_btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see_work .play_btn a {
    padding: 4px 5px;
    background: rgb(0 0 0 / 30%);
    border-radius: 30px;
    color: #fff;
    width: 100%;
    max-width: 233px;
}

.see_work .play_btn a span {
    display: flex;
    align-items: center;
}

.see_work .play_btn a span h6 {
    margin-bottom: 0;
    padding-left: 8px;
    font-size: 16px;
    line-height: 9px;
    font-weight: 400;
}

.refill_s_tab ul {
    display: grid;
    grid-template-columns: 168px auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.refill_s_tab ul li button {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;

}

.refill_s_tab {
    margin-top: 23px;
}

.refill_s_tab .nav-pills .nav-link {
    padding: 0 35px;
    color: #000;
    border: 1px solid #D0D0D0;
    border-radius: 20px;
    width: 100%;
    white-space: nowrap;
}

.refill_s_tab .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.tab_img {
    width: 100%;
}


.refill_s_tab_content .tab-content .swiper-wrapper {
    align-items: stretch;
}

.productSlider .swiper-wrapper .swiper-slide {
    overflow: hidden;
}

.refill_s_tab_content {
    min-height: 100%;
    min-height: 337px;
}

.refill_s_tab_content .tab-content .tab_img {
    min-height: 337px;
}

.refill_s_tab_content .swiper.dot_pagination .swiper-pagination {
    position: absolute;
    bottom: 20px;
    padding-top: 0px;
}

.refill_s_tab_content .swiper.dot_pagination .swiper-pagination-bullet {
    background: #D9D9D9;
    opacity: 1;

}

.refill_s_tab_content .swiper.dot_pagination .swiper-pagination-bullet-active {
    background: #000;
    opacity: 1;
}

.refill_s_tab_content .refill_images .refill_tag_wrapper,
.refill_images_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.refill_s_tab_content .refill_images .refill_tag_wrapper {
    margin-bottom: 20px;
}

.refill_s_tab_content .refill_images .refill_tag_wrapper .refill_tag {
    border: 1px solid #00000026;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 4px 0px #00000026;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 3px;
    background-color: #fff;
    color: #000;
}

.realResultSlider .swiper-slide .banner-popup-link,
.realResultSlider .swiper-slide .banner-popup-link img {
    width: 100%;
}

.realResultSlider .swiper-slide .banner-popup-link img {
    min-height: 295px;
}

.subscription_bx p {
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    max-width: 375px;
    margin: 0 auto;
}


.next_batch_bl {
    padding: 18px;
    background-color: #c7e7dc7d;
    border-radius: 20px;
    margin-bottom: 20px;
}

.next_batch_bl>p {
    padding: 0 15px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
}

.next_batch_bl .batch {
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 9px 20px;
    border: 1px solid #000;
    border-radius: 30px;
    margin: 10px 0;
}

.next_batch_bl .batch.batch_fade {
    opacity: 0.5;
    font-weight: 400;
}

.next_batch_bl.next_batch_highlight {
    padding: 20px 30px;
}

.next_batch_bl.next_batch_highlight h6 {
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.next_batch_bl.next_batch_highlight p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    padding: 0;
}

.next_batch_bl.next_batch_highlight .batch_h {
    display: grid;
    grid-template-columns: calc(100% - 70%) 1fr;
    gap: 10px;
}

.next_batch_bl.next_batch_highlight .batch_h .batch_h_month {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
}

.next_batch_bl.next_batch_highlight .batch_h.batch_h_fade .batch_h_month {
    opacity: 0.5;
}

.next_batch_bl.next_batch_highlight .batch_h .batch_h_info {
    background: #fff;
    border-radius: 20px;
    position: relative;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    margin: auto 0;
    padding: 4px 10px;
    border: 1px solid #000;
    z-index: 9;
}

.next_batch_bl.next_batch_highlight .batch_h.batch_h_fade .batch_h_info {
    border: 1px solid #D9D9D9;
}

.next_batch_bl.next_batch_highlight .batch_h.batch_h_fade .batch_h_info span {
    color: #000;
    opacity: 0.5;
}

.next_batch_bl.next_batch_highlight .batch_h.batch_h_fade .batch_h_info.sold_out_h span {
    color: #D9D9D9;
    opacity: 0.9;
}

.next_batch_bl.next_batch_highlight .batch_h.batch_h_fade .batch_h_info.sold_out_h {
    border: 1px solid #000;
}
.next_batch_bl.next_batch_highlight .batch_h .batch_h_info:before {
    content: '';
    display: block;
    width: var(--bgPercent);
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 15px;
    z-index: -9;
}
.subscribe_save_wrapper {
    position: relative;
    margin-top: 40px;
}

.mi_refill .subscribe_save_wrapper {
    margin-top: 10px;
}

.subscribe_save_wrapper .subscribe_save_bx {
    padding: 15px 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 75% 25%;
}

.subscribe_save_wrapper .subscribeTopInfo {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.subscribe_save_wrapper .subscribeTopInfo p {
    background-color: #000;
    color: #fff;
    padding: 4px 13px;
    border-radius: 14px 14px 0 0;
    font-size: 10px;
    line-height: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1px;
}

.subscribe_save_wrapper .subscriptionType {
    cursor: pointer;
}

.subscribe_save_wrapper .subscriptionType.active>div:first-child {
    background: #c7e7dc;
}

.subscribe_save_wrapper .subscribePrice p {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-align: right;
}

.subscribe_save_wrapper.without_subscription .subscribePrice p {
    font-weight: 500;
}

.subscribe_save_wrapper .subscribePrice p span {
    font-size: 20px;
    line-height: 20px;
    text-decoration: line-through;
    opacity: 0.3;
    margin-right: 8px;
    font-weight: 700;
}

.subscribe_save_wrapper .subscribeInfo h6 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.16px;
    margin-bottom: 0;
}

.subscribe_save_wrapper.without_subscription .subscribeInfo h6 {
    font-weight: 400;
}

.subscribe_save_wrapper .subscribeInfo p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
}

.subscribe_save_wrapper .subscribeInfo a {
    text-decoration: underline;
    color: #000;
}

.subscribe_save_wrapper .noSubscription {
    border-radius: 30px;
    border: 1px solid #D6D6D6;
    padding: 13px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.subscribe_save_wrapper .noSubscription .noSubscriptionText {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    opacity: 0.7;
}

.subscribe_save_wrapper.without_subscription .noSubscription .noSubscriptionText {
    opacity: 1;
}

.subscribe_save_wrapper .noSubscription .noSubscriptionPrice {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.subscribe_save_wrapper .subscribeInfo input {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.subscribe_save_wrapper.without_subscription .subscribe_save_bx {
    background: #fff;
    color: #000;
    border: 1px solid #D6D6D6;
}

.subscribe_save_wrapper.without_subscription .noSubscription {
    background: #cce5dd;
    border: transparent;
}

.subscribe_save_wrapper.without_subscription .noSubscription .noSubscriptionPrice,
.subscribe_save_wrapper.without_subscription .noSubscription .noSubscriptionText {
    font-weight: 700;
}

.subscribe_save_wrapper .with_subscription.buy_btn {
    display: grid;
}

.subscribe_save_wrapper.without_subscription .without_subscription.buy_btn {
    display: grid;
}

.subscribe_save_wrapper .with_subscription {
    opacity: 1;
    visibility: visible;
    display: flex;
}

.subscribe_save_wrapper .without_subscription {
    opacity: 0;
    visibility: visible;
    display: none;
}

.subscribe_save_wrapper.without_subscription .with_subscription {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.subscribe_save_wrapper.without_subscription .without_subscription {
    opacity: 1;
    visibility: visible;
    display: flex;
}

.banner-popup-link:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    padding-top: var(--aspect-ratio);
}

.banner-popup-link>img {
    position: absolute;
    top: 0;
    bottom: 0;
}

.mfp-img {
    max-height: 550px !important;
}

@media (max-width: 490px) {
    .subscription_bx .serum_prd {
        min-height: 40px;
    }

    .subscription_bx .serum_ttl {
        font-size: 10px;
    }

    .refill_s_tab ul {
        grid-template-columns: 1fr 1fr;
        padding: 0 20px;
    }
}

@media(max-width:767px) {
    .refill_s_tab {
        margin-top: 20px;
    }

    .r_ftr p {
        font-size: 13px;
        line-height: 22px;
    }

    .green_bx .green_bx_top p {
        font-size: 9px;
        line-height: 11px;
    }

    .serum_wrapper p {
        font-size: 10px;
        line-height: 12px;
    }

    .serum_wrapper {
        grid-template-columns: repeat(3, 29%);
    }

    .s_img img {
        max-width: 100%;
    }

    .green_bx .green_bx_header .save_bx {
        margin-left: 2px;
    }

    .shipping {
        padding-left: 10px;
        padding-right: 10px;
    }

    .chest_pdp .refill_bl .shipping {
        gap: 10px;
    }

    .buy_btn {
        max-width: 100%
    }

    .subscription_bx .subscription_tab .s_tab .serum_prd .serum_ttl {
        font-size: 11px;
        line-height: 24px;
        letter-spacing: 0.3px;
    }

    .subscription_bx .subscription_tab .s_tab .serum_prd .serum_ttl {
        padding: 6px 10px;
    }

    .subscription_tab {
        margin-bottom: 20px;
    }

    .refill_s_tab ul li button {
        font-size: 12px;
        line-height: 22px;
    }

    .refill_s_tab_content .refill_images .refill_tag_wrapper .refill_tag {
        font-size: 11px;
        line-height: 16px;
    }

    .realResultSlider .swiper-slide {
        padding-top: 0px;
    }

    .refill_s_tab_content .refill_images .refill_tag_wrapper {
        margin-bottom: 13px;
    }

    .next_batch_bl .batch {
        font-size: 10px;
    }

    .subscribe_save_wrapper .subscribeTopInfo p {
        font-size: 9px;
        line-height: 11px;
    }

    .subscribe_save_wrapper .noSubscription .noSubscriptionText {
        font-size: 12px;
        line-height: 22px;
    }

    .subscribe_save_wrapper .subscribeInfo h6 {
        font-size: 13px;
        line-height: 24px;
    }

    .mi_refill .subscribe_save_wrapper .subscribeInfo p {
        font-size: 10px;
    }

    .mi_refill .subscribe_save_wrapper .subscribe_save_bx {
        padding: 10px 15px;
        grid-template-columns: auto 30%;
    }
}

@media(max-width:767px) {
    .green_bx .green_bx_header p {
        line-height: 13px;
    }

    .green_bx .green_bx_header .save_bx p {
        font-size: 9px;
        line-height: 12px;
        padding: 0 4px;
    }

    .green_bx .green_bx_left .text-sm {
        font-size: 10px;
        line-height: 16px;
        font-weight: 300;
    }

    .refill_bl .container-fluid {
        position: relative;
    }

    .refill_bl .refill_info {
        max-width: 100%;
    }

    .refill_info .supply_steps .step_block {
        flex: 0 0 auto;
        width: 100%;
    }

    .refill_info .bs_price .discount_p {
        margin-top: 10px;
    }

    .refill_info .refill_ftr {
        padding-top: 10px;
    }

    .next_batch_bl.next_batch_highlight .batch_h {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .next_batch_bl.next_batch_highlight h6 {
        font-size: 12px;
        line-height: 22px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .next_batch_bl.next_batch_highlight p {
        font-size: 10px;
        line-height: 16px;
        font-weight: 400;
        padding: 0;
    }

    .next_batch_bl.next_batch_highlight .batch_h .batch_h_month {
        font-size: 12px;
        line-height: 22px;
    }

    .next_batch_bl.next_batch_highlight .batch_h .batch_h_info {
        font-size: 10px;
        line-height: 16px;
        font-weight: 600;
        padding: 0 5px;
    }
}

@media(max-width:490px) {
    .s_name {
        padding: 10px;
    }

    .refill_bl .refill_info {
        padding-top: 10px;
    }

    .payment_method .pmt_img img {
        padding-right: 0;
    }

    .payment_method p {
        font-size: 10px;
    }
}

@media(max-width:420px) {
    .payment_method {
        flex-direction: column;
    }
}

@media(min-width:768px) {

    .refill_bl .swiper-pagination {
        display: none;
    }

    .refill_bl.tabSlider .swiper-pagination {
        display: block;
    }

    .refill_img {
        padding-top: 0px;
        position: absolute;
        right: 0;
        left: unset;
        width: 50%;
    }

}

@media(max-width:767px) and (min-width:480px) {
    .buy_btn img {
        right: 70px;
    }
}