.beauty_skincare .section_header .title-lg {
    max-width: 941px;
}

.micro_infusion .beauty_skincare .section_header {
    max-width: 634px;
}

.beauty_skincare .section_header p {
    max-width: 755px;
}

.chest_pdp .beauty_skincare .section_header p {
    max-width: 757px;
}

.bf_sale .beauty_skincare .section_header p {
    max-width: 100%;
    margin: 0 auto;
    width: 949px;
}

.bs_grid {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.bs_item {
    max-width: 424px;
    width: 100%;
}

.chest_pdp .bs_price h5 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    padding-bottom: 16px;
}

.chest_pdp .bs_price p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.14px
}

.bs_vs_item {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 23px;
}

.bs_versace {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    padding: 40px;
    height: 96px;
    width: 96px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    z-index: 9;
    position: relative;
    top: calc((var(--height-header)) / 2 - 45px);
}

.chest_pdp .bs_versace, .qurify_water .bs_versace {
    font-weight: 400;
}

.bs_content {
    padding: 24px 0 40px;
    text-align: center;
}

.chest_pdp .bs_content {
    padding: 24px 0 30px;
}

.mi_landing .beauty_skincare .bs_content {
    padding: 0px 10px;
    margin-bottom: 10px;
}

.bf_sale .beauty_skincare .bs_content {
    padding: 24px 0;
}

.mi_landing .beauty_skincare .bs_content h4 {
    padding: 30px 0;
}

.bf_sale .beauty_skincare .bs_content h4 {
    padding: 0px;
    padding-bottom: 0px;
    border-bottom: 0;
}

.bs_price {
    padding: 20px 0;
}

.bs_price h3 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    font-family: 'Poppins';
}

.bs_price .sale_p {
    font-weight: 400;
    margin-left: 8px;
}

.bs_price h3.discount_p {
    padding-right: 10px;
    position: relative;
}

.bs_price h3.discount_p:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 75px;
    background: red;
    transform: rotate(336deg);
    bottom: 15px;
}


.bs_price p {
    opacity: 0.8;
    font-size: 11px;
    line-height: 16px;
}

.bs_content .price__label {
    font-size: 14px;
    color: #000;
    opacity: 1;
    margin-top: 23px;
    font-weight: 600;
}

.bs_item h4 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    font-family: 'Canela Light';
    padding-bottom: 20px;
    border-bottom: 1px solid #EDE7DD;
}

.chest_pdp .bs_item h4 {
    padding-bottom: 25px;
}

.bs_feature {
    padding-left: 10px;
}

.bs_feature ul li {
    position: relative;
    min-height: 52px;
    border-bottom: 1px solid #EDE7DD;
    text-align: left;
    font-size: 14px;
    display: flex;
    align-items: start;
    padding: 12px 0px 12px 28px;
}

.beauty_ftrs_center .bs_feature ul li {
    width: 185px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    line-height: 22px;
}

.bs_feature ul li .bsListInner:before {
    margin-right: 10px;
    margin-top: 2px;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bs_feature ul li:last-child {
    border: none;
}

.bs_feature.correct ul li .bsListInner:before {
    content: url(../images/common/correct.svg);
}

.bs_feature.correctCircle ul li .bsListInner:before {
    content: url(../images/common/correct_circle.svg);
}

.bs_feature.incorrect ul li .bsListInner:before {
    content: url(../images/common/incorrect_circle.svg);
}

.bs_feature.incorrectCircle ul li .bsListInner:before {
    content: url(../images/common/incorrect_circle.svg);
}

.bs_feature.incorrectCircle ul li.correct .bsListInner:before {
    content: url(../images/common/correct_circle.svg);
}

.bf-compare__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bf-compare__button {
    width: 278px;
    height: 40px;
    left: 408px;
    top: 8860px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    letter-spacing: .3px;
    color: #fff;
    border: 1px solid #008763;
    cursor: pointer;
    background: none;
    color: #008763;
}

.bf-compare__button.color-btn {
    background: #008763;
}

.bf-compare__button.color-btn {
    color: #fff;
}

.mobile-menu-custome ul#menu li.title a span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #dd4d45;
    margin-left: 13px;
}

@media (min-width: 768px) {
    .bf-compare__button:nth-child(1) {
        margin-right: 69px;
    }
}

.upsell-second__items-wrapper {
    display: none;
}

.upsell-second__items-wrapper.active {
    display: block;
}

@media(max-width:991px) {
    .bs_feature ul li:before {
        top: 15px;
    }
}

@media(max-width:767px) {
    .mi_landing .beauty_skincare .bs_content {
        padding: 0;
    }

    .led_mask .beauty_skincare {
        background-color: var(--clr-yellow);
    }

    .bf-compare__button-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }

    .micro_infusion .beauty_skincare .bs_item .bs_content .mw-146 {
        max-width: 146px;
    }

    .micro_infusion .beauty_skincare .bs_item .bs_content .mw-158 {
        max-width: 158px;
    }

    .bs_feature ul li:before {
        top: 8px;
    }


    .bs_content {
        padding: 16px 0;
        border-bottom: 1px solid #EDE7DD;
    }

    .bs_item h4 {
        padding-bottom: 0px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        margin: 0;
        border-bottom: 0;
        word-break: break-all;
        padding-bottom: 10px;
    }

    .micro_infusion_lp .beauty_skincare .bs_item h4,
    .mi_landing .beauty_skincare .bs_item h4 {
        border-bottom: 1px solid #EDE7DD;
    }

    .beauty_ftrs_center .bs_item h4 {
        padding-bottom: 0px;
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
    }

    .chest_pdp .bs_price h4 {
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
    }

    .chest_pdp .bs_price h5 {
        font-size: 21px;
        line-height: 21px;
        font-weight: 400;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .chest_pdp .bs_price p {
        font-size: 13px;
        line-height: 24px;
        font-weight: 600;
        letter-spacing: 0.14px;
        opacity: 1;
    }

    .bs_content .price__label {
        margin-top: 14px;
    }

    .bs_item {
        width: calc(calc(100% - 9px) / 2);
    }

    .bs_vs_item {
        width: 9px;
        padding: 0;
    }

    .chest_pdp .bs_vs_item {
        width: 15px;
    }

    .bs_img img {
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 8px;
    }

    .bs_price {
        padding: 10px 0;
    }

    /* .beauty_skincare .section_header {
        padding-bottom: 40px;
    } */

    .beauty_skincare .bs_price h3 {
        font-size: 21px;
        margin-bottom: 0;
    }

    .beauty_skincare .bs_price h3.discount_p {
        font-weight: 700;
    }

    .beauty_skincare .bs_price h3.discount_p:before {
        width: 60px;
    }

    .bs_feature {
        padding: 0;
    }

    .bs_feature ul li {
        padding-left: 24px;
        line-height: 14px;
        font-weight: 400;
        padding-bottom: 5px;
        font-size: 12px;
    }

    .mi_landing .beauty_skincare .bs_feature ul li {
        line-height: 20px;
    }

    .bs_versace {
        padding: 0;
        height: 48px;
        width: 48px;
        left: 50%;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        transform: translateX(-50%);
        margin-top: 17px;
        position: absolute;
    }

    .bs_price.bs_price_red h3 {
        font-size: 21px;
        line-height: 21px;
    }

    .bs_price.bs_price_red h3.discount_p:before {
        width: 50px;
        bottom: 8px;
    }

    .sf_form {
        margin-top: 35px;
    }

    .sf_form input {
        margin-bottom: 16px;
    }

    .subscription_tab {
        margin-bottom: 20px;
    }

    .beauty_skincare {
        padding: 40px 0 !important;
        background: #FFFAF1;
    }

    .beauty_skincare .title-lg {
        font-size: 27px;
        margin-bottom: 20px;
    }

    .beauty_skincare .bs_feature.correct ul li:before {
        top: 10px;
    }

    .beauty_skincare .bs_feature.incorrect ul li:before {
        top: 10px;
    }

    .chest_pdp .beauty_skincare .title-lg, .led_mask .beauty_skincare .title-lg {
        font-size: 28px;
    }

    .chest_pdp .bs_content {
        padding: 22px 0 22px;
    }

    .bf_sale .beauty_skincare .bs_content {
        padding: 24px 0 0;
        border-bottom: 1px solid #EDE7DD;
    }

    .bf_sale .beauty_skincare .bs_content h4 {
        padding-bottom: 20px;
    }
}