/* ===============================  Footer Start ======================================= */
.footer {
    background-color: #000;
    color: #fff;
}

.footer .container-fluid {
    max-width: 1200px;
}

.footer .f_main {
    padding: 100px 0;
    border-bottom: 1px solid #262626;
}

.footer .f_main .f_title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    opacity: 0.4;
    padding-bottom: 15px;
}

.footer-wrap li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 7px 0;
}

.f_apps h5 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0.2px
}

.f_apps p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    opacity: 0.60;
    padding: 15px 0;
}

.footer .f_copyright {
    padding: 50px 0;
}

.f_copyright .f_c_upper {
    display: flex;
}

.f_copyright ul {
    display: inline-flex;
}

.f_copyright .f_c_upper p,
.f_copyright .f_c_upper ul li {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    padding-right: 10px;
    opacity: 0.8;
}

.f_c_bottom {
    max-width: 760px;
}

.f_c_bottom p {
    font-size: 12px;
    line-height: 18px;
    opacity: 0.4;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 10px 0;
}

@media(max-width:767px) {
    .f_app_wrapper {
        display: flex;
        gap: 20px;
    }

    .footer .f_main .f_title {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .footer-wrap li {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        letter-spacing: -0.08px;
    }

    .f_apps h5 {
        font-size: 16px;
        line-height: 20px;
    }

    .f_apps p {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: 0.4px;
    }

    .f_copyright .f_c_upper {
        display: block;
    }

    .f_copyright .f_c_upper p {
        padding-bottom: 10px;
    }

    .f_copyright .f_c_upper ul>li {
        padding-right: 60px;
    }

    .f_c_bottom p {
        font-size: 10px;
        line-height: 16px;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: var(--bs-gutter-x, .95rem);
        padding-left: var(--bs-gutter-x, .95rem);
    }

    .f_apps {
        padding-right: 5px;
    }

    .footer .f_main {
        padding: 56px 10px 25px;
    }

    .footer-wrap {
        padding-top: 16px !important;
    }

    .footer .f_copyright {
        padding: 30px 0;
    }
}

/* ===============================  Footer End ======================================= */