.section__header .heading {
    font-family: 'Canela Web';
    font-size: 36px;
    line-height: 55px;
}

.section__header .des {
    margin: 10px 0 50px 0;
}

.section__header .des,
.section__header .des p {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.14px;
}

.productSubscription {
    background: linear-gradient(180deg, #C7E7DC 0.09%, #FFF 25.88%);
}

.tmtFtrs_block .tmtFtr_icon {
    margin-bottom: 10px;
}

.tmtFtrs_block .tmtFtr_icon svg {
    height: 34px;
}

.tmtFtrs_block .tmtFtr_des {
    font-size: 13px;
    max-width: 110px;
    margin: 0 auto;
}

.qst_box {
    font-weight: 600;
    font-size: 13px;
}

.qst_box svg {
    margin-right: 8px;
}

.qst_box a {
    color: #008763;
}


/* Supply steps */

.supply-detail {
    position: relative;
    border-radius: 10px;
    border: 2px solid #C7E7DC;
    background: #FFF;
    padding: 30px 20px;
}

.supply-detail-2 {
    border: none;
    padding: 0;
    border-radius: unset;
}

.supply-detail .supply_steps {
    display: flex;
    flex-wrap: wrap;
}

.supply_steps .step_counter {
    flex: 0 0 auto;
    width: 50px;
    position: relative;
}

.supply_steps .step_counter:before {
    content: '';
    width: 2px;
    background: #C7E7DC;
    height: 100%;
    position: absolute;
    top: 0;
    left: 18px;
}

.supply-detail .supply_steps:last-child .step_counter:before {
    display: none;
}

.supply_steps .step_counter span {
    border: 2px solid #C7E7DC;
    background-color: #fff;
    position: relative;
    z-index: 2;
    width: 36px;
    height: 36px;
    display: inline-flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.supply_steps .step_counter.active span {
    background: #C7E7DC;
}

.supply_steps .step_block {
    flex: 0 0 auto;
    width: calc(100% - 50px);
}

.supply_steps .step_block:not(:last-child) {
    min-height: 100px;
}

.supply-detail-2 .step_block {
    max-width: 100%;
    width: 100%;
}

.supply_steps .step_block .step_content {
    padding: 15px 0 30px 0;
}

.supply-detail-2 .supply_steps .step_content {
    padding: 14px 0;
}

.step_block .step_header h3 {
    font-family: 'Canela Regular';
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 0;
}

.step_block .step_header h3 span {
    font-family: 'Poppins';
    font-size: 13px;
    margin-right: 10px;
    position: relative;
    top: -4px;
    color: #000;
    opacity: 0.7;
}

.supply_steps .step_block .step_serum {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.supply_steps .step_block .step_content .serumBlock input {
    display: none;
}

.supply_steps .step_block .step_content .serumBlock {
    text-align: center;
}

.supply_steps .step_block .serum_prd {
    text-align: center;
    /* background: #f5f5f5; */
    height: 100%;
    border-radius: 20px;
    padding: 15px;
    display: grid;
    align-items: center;
}

.supply_steps .step_block .serum_prd .serum_img img {
    max-height: 85px;
}

.supply_steps .step_block .serum_prd {
    text-align: center;
    /* background: #f5f5f5; */
    height: 100%;
    border-radius: 30px;
    padding: 15px 15px 60px 15px;
    width: 100%;
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
}

.supply_steps .lnr_grdnt_bg .serum_prd {
    background: linear-gradient(90deg, #FFFAF1 0%, #F5F5F5 100%);
}

.supply_steps .yellow_bg .serum_prd {
    background: #FFFAF1;
}

.supply_steps .step_block .serum_prd .serum_ttl {
    background-color: #fff;
    font-size: 12px;
    border: 2px solid #D6D6D6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 45px;
    border-radius: 40px;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}

.supply-detail-2 .supply_steps .step_block .serum_prd .serum_ttl {
    font-size: 11px;
    line-height: 12px;
    padding: 0 10px;
    background: #fff;
}

.supply_steps .step_block input:checked+.serum_prd {
    border: 2px solid #C7E7DC;
}

.supply_steps .step_block input:checked+.serum_prd .serum_ttl {
    background: #C7E7DC;
    border-color: #C7E7DC;
    font-weight: bold;
}

/* Monthly plan */
.planBlock {
    transition: unset;
    display: block;
}

.planBlock:hover,
.planBlock:focus,
.planBlock:active {
    color: inherit;
}

.planBlock+.planBlock {
    margin-top: 8px;
}

.planBlock input {
    display: none;
}

.planBlock .plan_choosed {
    text-align: right;
    max-width: 90%;
}

.planBlock .plan_choosed span {
    background: #000;
    color: #fff;
    padding: 2px 25px;
    border-radius: 14px 14px 0 0;
    font-size: 10px;
}

.planBlock .monthly_plans {
    border-radius: 100px;
    border: 1px solid #DBDBDB;
    background: #FFF;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 13px 14px 13px 20px;
    cursor: pointer;
}

.planBlock input:checked+.monthly_plans {
    background: #C7E7DC;
    border: 1px solid #C7E7DC;
}

.planBlock .monthly_plans .plan_hdr {
    display: flex;
    align-items: center;
}

.planBlock .monthly_plans .plan_hdr h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin: 0;
}

.planBlock .monthly_plans .plan_hdr .saved_price {
    display: block;
    border-radius: 15.873px;
    background: #008763;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    padding: 1px 4px;
    margin-left: 8px;
}

.planBlock .monthly_plans .plan_des {
    font-size: 12px;
    margin-top: 3px;
}

.planBlock .monthly_plans .price {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600
}

.planBlock .monthly_plans .price .plan_prc+.plan_prc {
    margin-left: 10px;
}

.planBlock .monthly_plans .price .regular_price {
    color: #b3b3b3;
    font-weight: bold;
    text-decoration: line-through;
}

.plan_bundle_detail {
    margin-top: 20px;
}

.plan_bundle_detail .plan_bundle_hdr {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}


/* Payment options */
.pmtBlock+.pmtBlock {
    margin-top: 8px;
}

.pmtBlock input {
    display: none;
}

.pmtBlock .pmt_plans {
    border-radius: 20px;
    border: 1px solid #DBDBDB;
    background: #FFF;
    width: 100%;
    padding: 13px 14px 13px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.pmtBlock .pmt_plans .pmt_hdr h3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
}

.pmtBlock .pmt_plans .pmt_des {
    font-size: 12px;
    margin: 2px 0;
}

.pmtBlock .pmt_plans .price {
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.pmtBlock .pmt_plans .price .pmt_prc+.pmt_prc {
    margin-left: 10px;
}

.pmtBlock .pmt_plans .price .regular_price {
    color: #b3b3b3;
    font-weight: bold;
    text-decoration: line-through;
}

.pmtBlock .pmt_plans .pmt_options {
    max-width: 170px;
    margin-top: 1px;
}

.pmtBlock input:checked+.pmt_plans {
    background: #C7E7DC;
    border-color: #C7E7DC;
}

.sold_out_notice {
    background: #F5F5F5;
    border-radius: 20px;
    margin-top: 8px;
    padding: 15px;
}

.sold_out_notice h5 {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 5px;
}

.sold_out_notice .sold_out_des {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.16px
}

.sold_out_notice .sold_out_des.strong {
    font-weight: 600;
}

.btn.btn-atc {
    display: block;
    height: 60px;
    padding: 20px 23px 20px 23px;
    background: #000;
    width: 100%;
    border-radius: 100px;
    color: #fff;
    position: relative;
    font-size: 22px;
    line-height: 20px;
}

.btn.btn-atc .btn_icon {
    position: absolute;
    right: 20px;
}

@media(max-width:767px) {
    .btn.btn-atc {
        font-size: 18px;
        line-height: 20px;
    }

    .supply_steps .step_block {
        flex: 0 0 auto;
        width: calc(100% - 30px);
    }

    .mi_refill .supply_steps .step_block {
        width: 100%;
    }

    .micro_infusion .refill_bl .refill_info {
        padding-right: 0;
    }

    .planBlock .monthly_plans {
        padding: 10px 14px 10px 15px;
    }

    .planBlock .monthly_plans .price {
        font-size: 17px;
    }

    .planBlock .monthly_plans .price .plan_prc+.plan_prc {
        margin-left: 3px;
    }

    .planBlock .monthly_plans .plan_des {
        font-size: 10px;
    }

    .qure__treatments {
        background: #c9e8dd;
        padding: 0 24px;
        margin: 0 -24px;
        margin-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
    }

    .supply_steps .step_counter span {
        width: 24px;
        height: 24px;
        font-size: 12px;
    }

    .supply_steps .step_counter:before {
        left: 12px;
    }

    .supply_steps .step_counter {
        width: 30px;
    }

    .supply_steps .step_block .step_serum {
        gap: 10px;
    }

    .supply_steps .step_block .serum_prd .serum_ttl {
        font-size: 10px;
    }

    .supply-detail {
        border: none;
        padding: 0;
    }

    .step_block .step_header h3 {
        font-size: 22px;
    }

    .step_block .step_header h3 span {
        top: unset;
        display: block;
    }
}

/* supply-detail-without-counter */

.supply-detail.supply-detail-without-counter {
    padding: 00 0 15px 0;
    border: none;
    display: grid;
    grid-template-columns: 195px 1fr;
    gap: 14px;
}

.supply-detail.supply-detail-without-counter .step_block {
    max-width: 100%;
    width: 100%;
}

.supply-detail.supply-detail-without-counter .step_block .step_serum {
    display: block;
}

.supply-detail.supply-detail-without-counter .step_block .step_content {
    padding-bottom: 0;
    padding-top: 0;
}

.supply-detail.supply-detail-without-counter .step_block .step_serum .serum_prd {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px 10px 15px;
    /* background: #FFFAF1; */
    border-radius: 30px 100px 100px 30px;
    /* border: none; */
    height: 70px;
}

.pdt_bg_yellow {
    background: #FFFAF1;
}

.pdt_bg_grey {
    background: #F5F5F5;
}

.pdt_bg_gradient {
    background: linear-gradient(90deg, #FFFAF1 16.67%, #F5F5F5 39.72%);
}

.supply-detail.supply-detail-without-counter .step_block .step_serum .serum_prd .serum_img {
    max-width: 40px;
    flex: 0 0 auto;
}

.supply-detail.supply-detail-without-counter .step_block .step_serum .serum_prd .serum_ttl {
    flex: 0 0 auto;
    width: calc(100% - 60px);
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 60px;
    background: #fff;
    border-radius: 100px;
}

.supply-detail.supply-detail-without-counter .step_block .serumBlock input:checked+.serum_prd .serum_ttl {
    background: #C7E7DC;
}

.supply-detail.supply-detail-without-counter .step_block .step_serum .serum_prd .serum_img img {
    max-height: 45px;
    min-height: unset;
    object-fit: contain;
}

.supply-detail.supply-detail-without-counter .step_block .serumBlock+.serumBlock {
    margin-top: 8px;
}

.supply-detail.supply-detail-without-counter .planBlock .monthly_plans {
    display: grid;
    grid-template-columns: 1fr 90px;
    padding: 12px 14px;
    height: 70px;
}

.supply-detail.supply-detail-without-counter .planBlock .plan_choosed {
    position: absolute;
    top: -23px;
    right: 7%;
}

.supply-detail.supply-detail-without-counter .planBlock .monthly_plans .plan_hdr .saved_price {
    padding: 2px 5px;
    margin-left: 5px;
}

.supply-detail.supply-detail-without-counter .planBlock .monthly_plans .price .plan_prc+.plan_prc {
    margin-left: 5px;
}

/* == accordion css start  --- */
.c_s_accordion {
    padding: 20px 30px;
}

.cs_item__accordion {
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 0;
    cursor: pointer;
}

.cs_item__accordion span {
    padding-left: 10px;
}

.u_item__hidden-div span {
    position: absolute;
    left: 0;
}

.cs_item__accordion span img {
    transition: 0.3s;
    transform: rotate(180deg);
}

.cs_item__accordion.active span img {
    transform: rotate(360deg);
    transition: 0.3s;
}

.c_s_ques .ask-ques svg {
    margin-right: 10px;
}

.u_item__hidden-div p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    padding: 5px 0;
    position: relative;
    padding-left: 20px;
}

/* == accordion css start  --- */
@media(max-width:767px) {
    .c_s_accordion {
        padding: 20px 0;
    }

    .supply-detail.supply-detail-without-counter {
        display: block;
    }

    .supply-detail.supply-detail-without-counter .supply_steps .step_block .serum_prd {
        text-align: center;
        background: #f5f5f5;
        height: 100%;
        border-radius: 30px;
        padding: 15px 15px 60px 15px;
        width: 100%;
        position: relative;
        cursor: pointer;
        border: 2px solid transparent;
    }

    .supply-detail.supply-detail-without-counter .step_block .step_serum .serum_prd .serum_img {
        max-width: 100%;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
    }

    .supply-detail.supply-detail-without-counter .step_block .step_serum .serum_prd .serum_img img {
        max-height: unset;
        min-height: unset;
        object-fit: contain;
    }

    .supply-detail.supply-detail-without-counter .step_block .step_serum .serum_prd .serum_ttl {
        flex: 0 0 auto;
        width: 100%;
        position: absolute;
        height: 50px;
        top: unset;
        bottom: 0;
        right: 0;
        left: 0;
        background: #fff;
        border-radius: 100px;
    }

    .supply-detail.supply-detail-without-counter .step_block .step_serum {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .supply-detail.supply-detail-without-counter .planBlock .plan_choosed {
        position: relative;
        top: 0;
        right: 0;
    }

    .supply-detail.supply-detail-without-counter .supply_steps {
        padding-top: 20px;
    }
}

@media(min-width:768px) {
    .qure__treatments {
        padding-right: 40px;
    }

    .mi_refill .qure__treatments {
        padding-right: 32px;
    }
}