.subscriptions_section .subscriptions_header {
    max-width: 714px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.subscriptions_section .subscriptions_header .subscription_subheadline {
    font-family: 'Canela Web';
    font-size: 36px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0.36px;
}

.subscriptions_section .subscriptions_header .subscription_subtext {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    font-family: 'Canela Light';
}

.subscriptions_section .cancel_section h6 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}
.subscriptions_section a{
    text-decoration: underline;
    color:#000;
}