@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.my-floating-cart .cart_total-checkout {
    position: relative !important
}

.my-floating-cart .percent_off {
    padding: 0 !important;
}

.my-floating-cart .percent_off svg {
    margin-right: 5px;
}

.my-floating-cart p.invest-txt {
    padding: 0;
}

.my-floating-cart .drawer__cart-discounts {
    padding: 20px 30px;
}

.my-floating-cart .progress_bar {
    padding: 20px 0 0px 0;
}

.my-floating-cart .discount__line {
    opacity: 1;
    border-top: 1px solid #ffffff;
}

.my-floating-cart .skill-bar .progress {
    background-color: #C7E7DC;
}

.my-floating-cart .drawer_top_sticky {
    position: sticky;
    top: 0;
    z-index: 9;
}

.my-floating-cart a.drawer__cart-remove-item span {
    border: none;
    position: absolute;
}

.my-floating-cart .drawer__cart-product-info {
    padding: 0 0 0 10px !important;
}

.my-floating-cart .review_main p.cart-revi svg {
    width: auto;
    height: auto;
}

.my-floating-cart .review_main {
    justify-content: space-between;
}

.my-floating-cart .drawer__cart-item-price p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Poppins';
}

.my-floating-cart .drawer__cart-item-price p.old-price {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #C4C4C4;
}

.my-floating-cart .discount_flex {
    display: flex;
    flex-wrap: wrap;
}

.my-floating-cart .discount_flex .percent_off,
.my-floating-cart .discount_flex .invest-txt {
    flex: 0 0 auto;
    /* width: 50%; */
}

.my-floating-cart .discount_flex .progress_bar {
    flex: 0 0 auto;
    width: 100%;
}

.my-floating-cart h3.upsell_title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}

.my-floating-cart .drawer__cart-subtotal p {
    margin-bottom: 0;
    font-size: 14px !important;
    line-height: 26px;
    font-family: 'Poppins';
    letter-spacing: 0.14px;
    font-weight: 500;
}

.my-floating-cart .drawer__cart-subtotal .drawer_savings {
    color: #008763;
}

.my-floating-cart .drawer_shipping p {
    font-weight: 600;
}

.my-floating-cart .insurance-wrapper .switch {
    width: 50px;
    height: 26px;
}

.my-floating-cart .insurance-wrapper input:checked+.slider {
    background-color: #000;
}

.my-floating-cart .insurance-wrapper .slider:before {
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 2px;
    background-color: #fff;
}

.my-floating-cart .insurance-wrapper {
    padding: 10px 31px 10px;
}

.my-floating-cart .cart_items_subtotal_price {
    font-size: 16px;
    line-height: 26px !important;
    letter-spacing: .38px;
    font-weight: 600;
}

.my-floating-cart .drawer__cart-total {
    padding: 7px 31px !important;
}

.my-floating-cart .drawer__cart-total-price {
    gap: 10px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0.24px
}

.my-floating-cart .drawer__cart-total-price .old_price-cart {
    font-weight: 700;
    color: #C4C4C4;
}

.my-floating-cart .drawer__cart-total-price .old_price-cart,
.my-floating-cart .drawer__cart-total-price .cart_items_subtotal_price {
    letter-spacing: 0.24px;
}

.my-floating-cart .payment_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 375px;
    margin: 9px auto;
}

.my-floating-cart .payment_info p {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.my-floating-cart .payment_info span>svg {
    margin-right: 5px;
}

.my-floating-cart p.cart-revi.ship-revi a {
    text-decoration: none;
}

/* .my-floating-cart {
    display: block !important;
} */

.my-floating-cart .cart_timer {
    background-color: #F5F5F5;
    padding: 4px 0;
}

.my-floating-cart .cart_timer .timer_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer_separator {
    width: 1px;
    background-color: #C92127;
    height: 30px;
    margin: 0 40px
}

.my-floating-cart .timer_wrapper .timer_countdown {
    display: flex;
    color: #C92127;
    padding: 10px 0;
    align-items: center;
}

.my-floating-cart .timer_wrapper .timer_countdown .timer_countdown_heading {
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
}

.my-floating-cart .timer_wrapper .timer_countdown .countdown_cart {
    margin-left: 20px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
}

.my-floating-cart .timer_wrapper .timer_text {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    color: #C92127;
    padding: 10px 0;
}

@media(max-width:767px) {
    .my-floating-cart .percent_off {
        padding-top: 10px !important;
    }

    .my-floating-cart .drawer__cart-discounts {
        padding: 10px 20px 13px 20px;
    }

    .my-floating-cart .review_main {
        flex-direction: row;
    }

    .my-floating-cart .discount_flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .my-floating-cart .discount_flex .percent_off,
    .my-floating-cart .discount_flex .invest-txt {
        flex: 0 0 auto;
        width: 100%;
    }

    .my-floating-cart .progress_bar {
        padding: 10px 0 10px 0;
    }

    .my-floating-cart .drawer__wrapper {
        right: 485px;
        max-width: 100%;
        width: 475px;
        height: auto
    }

    .my-floating-cart .payment_info p {
        font-size: 10px;
        line-height: 14px;
    }

    .my-floating-cart p.cart-revi a {
        font-size: 8px;
        line-height: 26px;
    }

    .my-floating-cart p.cart-revi.ship-revi a {
        font-size: 10px;
        line-height: 16px;
        text-decoration: none;
    }

    .my-floating-cart .drawer__cart-item-price p {
        font-size: 18px;
        line-height: 27px;
    }

    .my-floating-cart .drawer__cart-quantity>p {
        font-size: 10px;
        line-height: 15px;
    }

    .my-floating-cart h3.upsell_title {
        font-size: 14px;
        line-height: 28px;
        font-weight: 300;
    }

    .my-floating-cart h3.upsell_title span {
        font-size: 9px;
        line-height: 15px;
    }

    .my-floating-cart .drawer__cart-subtotal p {
        font-size: 12px !important;
        line-height: 22px !important;
    }

    .my-floating-cart .cart_items_subtotal_price {
        font-size: 13px;
        line-height: 24px;
        font-weight: 600;
    }

    .my-floating-cart .drawer__cart-total-price {
        font-size: 18px;
        line-height: 27px
    }

    .my-floating-cart .insurance-wrapper .switch {
        width: 30px;
        height: 16px;
    }

    .my-floating-cart .insurance-wrapper .slider:before {
        height: 12px;
        width: 12px;
        left: 3px;
    }

    .my-floating-cart .insurance-wrapper input:checked+.slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }
}

@media(max-width:556px) {
    .my-floating-cart .drawer__wrapper {
        right: 100%;
        max-width: 100%;
        width: 100%;
        height: auto;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    .my-floating-cart .timer_wrapper .timer_text {
        font-size: 12px;
        line-height: 12px;
    }
    .my-floating-cart .timer_separator {
        margin: 0 20px;
    }
    .my-floating-cart .timer_wrapper .timer_countdown .timer_countdown_heading {
        font-size: 12px;
        line-height: 12px;
    }

    .my-floating-cart .timer_wrapper .timer_countdown .countdown_cart {
        margin-left: 20px;
        font-size: 18px;
        line-height: 18px;
    }
}