.product_slider .swiper-slide h3 {
	margin: 5px 0;
	font-size: 8px;
	line-height: 11.02px;
	font-weight: 400;
	color: #000;
}

.product_slider .swiper-slide {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: auto !important;
}
.product_slider .swiper-slide > a {
	display: inline-block;
	max-width: 70px;
}
.product_slider .swiper-slide:first-child{
	padding-left: 10px;
}

.product_slider {
	padding: 10px 0;
}

.product_slider img {
	width: 70px;
	height: 70px;
}