.bfBundle__banner .bundle_21_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.bundle_21_wrapper .bundle_21_shop {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-right: 20px;
}

.bundle_21_wrapper .bundle_21_shop a {
    background: #000;
    border-radius: 30px;
    padding: 9px 32px;
    color: #C7E7DC;
    text-align: center;
    font-size: 15.421px;
    font-style: normal;
    font-weight: 600;
    line-height: 13.734px;
    letter-spacing: 0.154px;
}

.bundle_21_wrapper .bundle_21_shop:before {
    content: '';
    display: block;
    height: 100%;
    width: 200%;
    background: #ffffff9e;
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 40px;
    z-index: -9;
}

.bundle_21_wrapper .bfBundle_bnr_hdr h2 {
    font-size: 50px;
    line-height: 85px;
    font-weight: 500;
    font-family: 'Canela Web';
    color: #FFF;
}

.bundle_21_wrapper .bfBundle_bnr_hdr h1 {
    font-size: 70px;
    line-height: 85px;
    font-weight: 500;
    color: #FFF;
    font-family: 'Canela Web';
}

.bundle_21_wrapper .bfBundle_bnr_hdr h6 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.bundle_21_wrapper .bfBundle__content .btn-bfBundle {
    background: #fff;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 9;
    font-weight: 600;
}

.bundle_21_wrapper p {
    font-family: Poppins;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #FFF;
}

.bundle_21_shop p {
    font-size: 25.801px;
    font-style: normal;
    font-weight: 500;
    line-height: 53.48px;
    letter-spacing: 0.258px;
    color: #000;
    margin-bottom: -20px;
}

.bundle_21_shop p>span {
    font-size: 34.732px;
    font-style: normal;
    font-weight: 500;
    line-height: 53.48px;
    letter-spacing: 0.347px;
}

.bundle_21_wrapper .bundle_21_shop .btmBundle {
    display: flex;
    align-items: center;
}

.bfBundle__content {
    text-align: left;
}

@media(max-width:767px) {
    .bundle_21_wrapper .bfBundle_bnr_hdr h2 {
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 0;
    }

    .bundle_21_wrapper .bfBundle_bnr_hdr h1 {
        font-size: 45px;
        line-height: 53px;
        margin-bottom: 0;
    }

    .btmBundle img {
        max-width: 110px;
    }

    .bundle_21_wrapper .bfBundle__content .btn-bfBundle {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bundle_21_wrapper .bundle_21_shop {
        position: relative;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        padding-right: 20px;
        flex-direction: column;
        padding: 7px;
    }

    .bundle_21_shop p {
        font-size: 14.801px;
        line-height: 21.48px;
    }

    .bundle_21_shop p>span {
        font-size: 19.732px;
        line-height: 21.48px;
    }

    .bundle_21_wrapper .bundle_21_shop a {
        font-size: 12.732px;
        line-height: 11.48px;
        padding: 10px 22px;
        margin-left: 20px;
    }

    .bundle_21_wrapper .bfBundle_bnr_hdr h6 {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.1px;
    }

    .bundle_21_wrapper p {
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0.1px;
        margin-bottom: 5px;
    }

    span.mob-break {
        display: block;
        text-align: left;
    }

    .bfBundle__content {
        text-align: center;
    }

    .bfBundle__banner .bundle_21_wrapper {
        bottom: 20px;
        justify-content: end;
    }
    .bundle_21_wrapper .bundle_21_shop:before{
        border-radius: 20px;
    }
}


.swiper-slide h3 {
    margin: 5px 0;
    font-size: 8px;
    line-height: 11.02px;
}

.product_slider .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto !important;
}

.product_slider {
    padding: 10px 0;
}

.announcement_bar {
    background: #fff;
}

.bfBundle__content .bfCountdown .countdown_block span:after,
.bfBundle__content .bfCountdown .countdown_block span {
    color: #C92127;
}

.bfBundle__content .bfCountdown .countdown_block span.dots {
    background: #C92127;
}