/* --------------------- Qure Uses Start ----------------------------- */
.q_uses_bl.bg-yellow-gradient {
    background: linear-gradient(360deg, #FFFAF1 0%, #FFFFFF 37.55%);
}

.q_use_img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    height: 166px;
}

/* .q_uses_bl {
      padding-bottom: 30px;
  } */

.q_uses_bl .q_use_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.arrow img {
    transition: 0.3s ease;
}

.q_uses_content {
    text-align: center;
}

.q_uses_content h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    font-family: 'Canela Light';
    padding: 18px 0;
}

.q_uses_bl .q_uses_item-outer {
    position: relative;
}

.q_uses_bl .q_uses_item-outer+.q_uses_item-outer:before {
    content: '';
    height: 256px;
    width: 1.4px;
    background: #C7E7DC;
    display: inline-block;
    position: absolute;
    left: 0;
}

.q_uses_header.active .arrow img {
    transform: rotate(-180deg);
}

.q_uses_desc {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    transition-property: max-height, margin;
}

@media (min-width: 992px) {
    .q_uses_desc {
        margin-top: -20px;
    }
}

.q_uses_bl .q_uses_header {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    padding: 20px 0px;
    cursor: pointer;
}

.q_uses_bl .q_uses_header p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.16px;
}

.q_uses_bl .q_uses_desc p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.16px;
}

.mi_refill .q_uses_bl .q_uses_desc p:not(:last-child) {
    padding-bottom: 10px;
}

.q_uses_bl .q_uses_desc p span {
    font-weight: 600;
}

.q_video {
    text-align: center;
    overflow: hidden;
    position: relative;
    max-width: max-content;
    margin: 70px auto;
}

.q_video img {
    border-radius: 10px;
}

.q_v_info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.q_v_info .title-xxl {
    padding-bottom: 30px;
}

.q_v_info a {
    color: #fff;
    cursor: pointer;
}

.q_v_info span {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    padding-left: 8px;
    letter-spacing: 1px
}

.q_uses_bl .q_uses_item-border {
    position: relative;
}

.q_uses_bl .q_uses_item-border+.q_uses_item-border:before {
    content: '';
    height: 100%;
    width: 1px;
    display: inline-block;
    position: absolute;
    left: 0;
    border-right: 1px solid #EDE7DD;
}



@media (max-width: 991px) and (min-width: 768px) {
    .q_use_img {
        height: 280px;
    }
}

@media(max-width:767px) {
    .q_v_info .title-xxl {
        padding-bottom: 0px;
    }

    .q_v_info span {
        font-size: 14px;
    }

}

@media(max-width:767px) {
    .q_uses_bl .q_uses_res {
        display: grid;
        gap: 20px;
        align-items: center;
        grid-template-columns: 130px 1fr;
    }

    .q_use_img {
        height: auto;
    }

    .q_uses_bl .q_uses_header p {
        font-size: 13px;
        line-height: 24px;
    }

    .q_uses_bl .q_uses_desc p {
        font-size: 12px;
        line-height: 22px;
        padding: 15px 0;
    }

    .q_uses_desc.active {
        margin-bottom: 35px;
    }

    .q_uses_bl .q_uses_bl {
        background: linear-gradient(360deg, #FFFAF1 0%, #FFFFFF 37.55%);
    }

    .q_use_img {
        margin-bottom: 0;
    }
}

@media(max-width:991px) {
    .q_uses_item {
        padding: 15px 0 !important;
    }

    .q_uses_bl .q_uses_header {
        padding: 10px 0;
    }

    .q_uses_item-outer+.q_uses_item-outer:before {
        display: none !important;
    }

    .q_uses_bl {
        /* padding: 0px 0 40px; */
        background: linear-gradient(360deg, #FFFAF1 0%, #FFFFFF 37.55%);
    }
}


/* --------------------- Qure Uses End ----------------------------- */

/* --------------------- How to Use start ----------------------------- */
.howUse .container {
    margin: 0 auto;
    max-width: 840px;
}

.howUse .howUse_item img {
    width: 100%;
}

.howUse .howUse_item h6 {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.3px;
    opacity: 0.8;
    margin-bottom: 12px;
}

.howUse .howUse_item p {
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    opacity: 0.8;
}

.howUse .howUse_item .howUse_content {
    margin-top: 30px;
}

@media(max-width:767px) {
    .howUse .howUse_item h6 {
        display: none;
    }

    .howUse .howUse_item p {
        font-size: 12px;
    }
}

/* --------------------- How to Use End ----------------------------- */
/* -- Chest pdp feature start -- */
.chest_pdp_ftr .cp_ftr_wrapper .cp_item {
    display: flex;
    align-items: center;
}

.chest_pdp_ftr .cp_ftr_wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.chest_pdp_ftr .cp_ftr_wrapper .cp_item {
    display: grid;
    align-items: center;
    gap: 40px;
    grid-template-columns: auto 1fr;
    margin: 10px 0;
}

.chest_pdp_ftr .cp_ftr_wrapper .cp_item p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.16px;
}

@media(max-width:767px) {
    .chest_pdp .chest_pdp_ftr {
        padding-top: 0;
    }

    .chest_pdp_ftr .cp_ftr_wrapper .cp_item {
        gap: 20px;
    }

    .chest_pdp_ftr .cp_ftr_wrapper .cp_item p {
        font-size: 13px;
        line-height: 24px;
    }
}

/* -- Chest pdp feature end -- */