.image_gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.image_gallery .ig_item img {
    width: 100%;
}

@media(max-width:767px) {

    .image_gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
    }
}