/* --------------------- See it in Action Section Start ----------------------------- */
.see_it .section_header {
    max-width: 740px;
}

.see_it .section_header h5 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    font-family: 'Canela Regular';
    letter-spacing: 1px;
    padding: 10px 0;
    margin-bottom: 0;
}


.see_slider_wrapper {
    padding-bottom: 50px;
}

.see_item img {
    width: 100%;
    padding-bottom: 40px;
}

.see_item {
    padding-top: 30px;
}

.see_item_info h5 {
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
}

.see_item_info p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
}

.step_slider .trustedSwipper .swiper-pagination {
    position: relative;
    padding-top: 50px;
}

.step_slider .swiper-pagination-bullet-active {
    background-color: #000;
}

@media(min-width:786px) {
    .step_slider .swiper-pagination-bullet .pg_counter.counter_block {
        display: none;
    }

    .step_slider .swiper-pagination-bullet .pg_counter.counter_title {
        display: none;
    }

    .step_slider .swiper-pagination-bullet {
        height: 13px;
        width: 13px;
    }

    .step_slider .swiper-pagination {
        position: relative;
        padding-top: 50px;
    }

}



@media(max-width:1200px) and (min-width:767px) {
    /* .see_slider .swiper-slide {
          width: 40%;
      } */

}

@media(max-width:991px) {
    .see_item {
        padding: 0;
    }

    .dsn-right-container {
        padding-left: var(--bs-gutter-x, .75rem);
        padding-right: var(--bs-gutter-x, .75rem);
    }
}

@media(max-width:767px) {
    .see_slider .swiper-slide {
        max-width: 100%;
    }

    /* .see_slider .swiper-slide {
          width: 100%;
      } */
    .see_item {
        padding: 0;
        padding-top: 20px;
    }

    .see_item img {
        padding-bottom: 15px;
    }

    .see_it_img_m {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }

    .step_slider .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
    }

    .see_it .section_header h5 {
        font-size: 22px;
        line-height: 28px;
    }

    .see_it {
        padding: 30px 0;
    }
}

@media(max-width:767px) {
    .step_slider .swiper-pagination {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .step_slider .swiper-pagination-bullet-active {
        background-color: #000;
    }

    .step_slider .swiper-pagination-bullet {
        height: auto;
        width: auto;
        background: none;
        opacity: 1;
    }

    .step_slider .swiper-pagination-bullet-active .pg_counter.counter_dot {
        border: 2px solid #000 !important;
        background: #000 !important;
    }

    .step_slider .swiper-pagination-bullet .pg_counter.counter_dot {
        height: 13px;
        width: 13px;
        background: #fff;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        position: relative;
        border: 2px solid #d3d2d2;
    }

    .step_slider .swiper-pagination:after {
        position: absolute;
        content: '';
        width: calc(100% - 37px);
        left: 20px;
        height: 2px;
        background: #d3d2d2;
        z-index: -99;
    }

    .step_slider .swiper-pagination-bullet .pg_counter.counter_block {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        color: #d3d2d2;
    }

    .step_slider .swiper-pagination-bullet-active .pg_counter.counter_block {
        color: #000;
    }

    .step_slider .swiper-pagination-bullet .pg_counter.counter_title {
        visibility: hidden;
    }

    .step_slider .swiper-pagination-bullet.swiper-pagination-bullet-active .pg_counter.counter_title {
        display: block;
        visibility: visible;
        font-size: 10px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.3px;
    }
}

@media(max-width:767px) {
    .see_it .section_header {
        max-width: 327px;
        margin: 0;
        padding: 0 12px
    }

    .dsn-right-container {
        padding: 0 24px;
    }
}

/* --------------------- See it in Action Section End ----------------------------- */