.risk {
    padding: 70px 0 34px;
    background: #F2F2F2;
}

.risk-content .title-lg {
    max-width: 739px;
    margin: 0 auto;
}

.risk-detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.risk-detail .risk-img {
    width: 100%;
    text-align: center;
    margin-top: -170px;
}

.risk-detail .risk-img img {
    width: 200px;
}

.risk-detail .risk-content {
    width: 80%;
    padding-left: 30px;
    text-align: center;
    margin: 10px auto 0;
}

.risk-detail .risk-content p:last-child {
    margin-bottom: 0;
}

.risk-detail .risk-content a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    text-decoration-line: underline;
    color: rgb(0 135 99 / 80%);
    margin: 20px 0 10px;
    display: block;
}

.risk-content p {
    opacity: 0.8;
    padding: 15px 0;
}

@media(max-width:767px) {
    .risk-detail .risk-content {
        width: 100%;
        padding-left: 0px;
        text-align: center;
        margin: 10px auto 0;
    }
}