.choose_serum {
    background: linear-gradient(179.89deg, #C7E7DC 0.09%, #FFFFFF 25.88%);
}

.choose_serum .c_s_shipping {
    max-width: 502px;
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
}

.choose_serum .c_s_shipping .c_s_bx {
    text-align: center;
    max-width: 108px;
}

.choose_serum .c_s_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.choose_serum .c_s_bx p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    padding-top: 5px;
}

.choose_serum .c_s_ques {
    padding: 10px 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    gap: 5px;
}

.choose_serum .c_s_ques span {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    display: inline-block;
}

.choose_serum .c_s_ques .ask-ques {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .003em;
    color: #000;
    margin: 22px 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 466px;
}

.choose_serum .c_s_ques .ask-ques a {
    color: #008763;
    text-decoration: none;
    margin-left: 5px;
}



.choose_serum .c_s_ques span a {
    color: var(--clr-green);
    display: inline-block;
}

.choose_serum .c_s_ques span img {
    max-width: 20px;
}

.choose_serum .c_s_right {
    padding: 40px;
    border: 2px solid #C7E7DC;
    border-radius: 9px;
    background: #fff;
}

.choose_serum .c_s_right>h4 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.16px;
    font-family: 'Canela Light';
    /* padding-top: 15px; */
    padding: 15px 30px 0;
}

.choose_serum .c_s_right .green_bx {
    margin-top: 40px;
}

.choose_serum .c_s_accordion {
    padding: 20px 30px;
}

.choose_serum .cs_item__accordion {
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 0;
    cursor: pointer;
}

.choose_serum .cs_item__accordion span {
    padding-left: 10px;
}

.choose_serum .u_item__hidden-div span {
    position: absolute;
    left: 0;
}

.choose_serum .cs_item__accordion span img {
    transition: 0.3s;
    transform: rotate(180deg);
}

.choose_serum .cs_item__accordion.active span img {
    transform: rotate(360deg);
    transition: 0.3s;
}

.choose_serum .c_s_ques .ask-ques svg {
    margin-right: 10px;
}

.choose_serum .u_item__hidden-div p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    padding: 5px 0;
    position: relative;
    padding-left: 20px;
}

.choose_serum .subscription_bx .serum_ttl {
    font-size: 14px;
    margin: 0;
}

@media(max-width:767px) {
    .choose_serum {
        background: linear-gradient(180deg, #C7E7DC 0%, rgba(255, 255, 255, 0) 100%);
    }

    .choose_serum .c_s_right {
        padding: 14px;
        border: none;
        border-radius: 0px;
        background: #fff;
        margin: 0 -24px
    }

    .choose_serum {
        padding: 30px 0;
    }

    .choose_serum .c_s_shipping {
        padding-top: 0px;
    }

    .choose_serum .c_s_right>h4 {
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
    }

    .available_bar p {
        font-size: 13px;
    }

    .choose_serum .c_s_ques span {
        font-size: 11px;
    }

    .choose_serum .subscription_bx .serum_ttl {
        font-size: 12px;
        line-height: 15px;
    }
}

@media(max-width:767px) {
    .choose_serum .c_s_ques .ask-ques svg {
        margin-right: 5px;
        width: 18px;
        height: 18px;
    }

    .choose_serum .c_s_ques .ask-ques {
        width: 100%;
        flex-wrap: wrap;
        font-size: 11px;
    }

    .choose_serum .c_s_right>h4 {
        padding: 0;
    }
}