.player {
  max-height: 318px;
  position: relative;
  font-size: 0;
  overflow: hidden;
  width: max-content;
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: auto;
  max-height: 318px;
}

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 100%;
}

.player__button:focus {
  border-color: #ffc600;
}

.player__slider {
  width: 10px;
  height: 30px;
}

.player__controls {
  display: flex;
  position: unset;
  bottom: 0;
  width: 100%;
  /* transform: translateY(100%) translateY(-5px);
  transition: all .3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1); */
}

.player:hover .player__controls {
  /* transform: translateY(0); */
}

.player:hover .progress {
  height: 15px;
  display: none;
}

.player__controls>* {
  flex: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}

.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 50%;
}

/* unholy css to style input type="range" */

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bada55;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}

/* .videoInfo .player__controls {
  opacity: 0;
  visibility: hidden;
} */

.player__controls button.player__button.toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M13.9884 0.904785C6.54631 0.904785 0.484375 6.96672 0.484375 14.4088C0.484375 21.8508 6.54631 27.9128 13.9884 27.9128C21.4304 27.9128 27.4924 21.8508 27.4924 14.4088C27.4924 6.96672 21.4304 0.904785 13.9884 0.904785ZM13.9884 3.60558C19.9708 3.60558 24.7916 8.42634 24.7916 14.4088C24.7916 20.3912 19.9708 25.212 13.9884 25.212C8.00593 25.212 3.18517 20.3912 3.18517 14.4088C3.18517 8.42634 8.00593 3.60558 13.9884 3.60558ZM11.2876 9.72985V19.0877L19.39 14.4088L11.2876 9.72985Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: 35px;
}

.player__controls * {
  display: none;
}

.player.video_playing .player__button.toggle {
  display: none;
}

.videosQure .qureSlider .swiper-slide {
  height: unset;
}

.videosQure .qureSlider .swiper-slide .player {
  height: 100%;
  width: 100%;
}

.videosQure .qureSlider .swiper-slide .player .player__video[poster],
.wistia_responsive_padding {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.videosQure .qureSlider .swiper-slide .player .player__video,
.wistia_responsive_padding {
  height: 100%;
}
.videosQure_exernal {
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.videosQure_exernal div.w-chrome {
  border-radius: 10px !important;
}
.videosQure_exernal .wistia_embed button.w-big-play-button.w-css-reset-button-important.w-vulcan-v2-button {
  position: relative !important;
  height: 46px !important;
  width: 34px !important;
  border-radius: 50px !important;
  display: block !important
}
.videosQure_exernal .wistia_embed button.w-big-play-button.w-css-reset-button-important.w-vulcan-v2-button:before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M13.9884 0.904785C6.54631 0.904785 0.484375 6.96672 0.484375 14.4088C0.484375 21.8508 6.54631 27.9128 13.9884 27.9128C21.4304 27.9128 27.4924 21.8508 27.4924 14.4088C27.4924 6.96672 21.4304 0.904785 13.9884 0.904785ZM13.9884 3.60558C19.9708 3.60558 24.7916 8.42634 24.7916 14.4088C24.7916 20.3912 19.9708 25.212 13.9884 25.212C8.00593 25.212 3.18517 20.3912 3.18517 14.4088C3.18517 8.42634 8.00593 3.60558 13.9884 3.60558ZM11.2876 9.72985V19.0877L19.39 14.4088L11.2876 9.72985Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: 35px;
}