.q-urify_safety .tab_con_1 p.care_des {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: .01em;
    color: #000;
    margin: 35px auto 0px;
    width: 546px;
}

.q-urify_safety .tab_con_1 .guideline_content {
    align-items: center;
    gap: 50px;
    display: flex;
}

.q-urify_safety .tab_con_1 .guideline_content .guideline_left {
    width: 331px;
}

.q-urify_safety .tab_con_1 .guideline_content .guideline_right {
    width: 331px;
}

.q-urify_safety .care_detail .care_content p.customer_support {
    padding-left: 0;
}

.q-urify_safety .care_detail .care_content p.customer_support:before {
    display: none;
}

#more {
    display: none;
}

.q-urify_safety .care_detail .care_content p.customer_support a:hover {
    color: #000;
}

.q-urify_safety button#myBtn {
    margin-bottom: 50px;
    border: unset;
    background: unset;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    padding: 0;
    text-decoration: underline;
    line-height: 25px;
}

.q-urify_safety .tab_con.tab_con_4 {
    width: 767px;
}

.q-urify_safety .tab_con_4 p.care_des {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: .01em;
    color: #000;
    margin: 35px auto 40px;
    max-width: 546px;
}

.q-urify_safety .tab_con_4 .care_detail .care_content h6 {
    color: #cb0000;
}

.q-urify_safety .tab_con_4 .care_detail .care_content p:before {
    content: "";
    background: #CB0000;
}

.q-urify_safety .tab_con.tab_con_4 .care_content h6 {
    margin: 0;
}

.q-urify_safety .tab_con.tab_con_4 .care_content p {
    margin: 8px 0 15px;
}

.q-urify_safety .frame_img_box {
    text-align: center;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* .tab_con.tab_con_3 {
    max-width: 768px;
    width: 100%;
} */
.q-urify_safety .unique_c_list_block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
}

.q-urify_safety .unique_c_list_block ul {
    display: block;
}

.q-urify_safety .unique_c_list_block .step_diffrent {
    margin: 0;
    width: 100%;
    display: block;
}

.q-urify_safety .unique_c_list_block .unique_c_list {
    margin-top: 0;
    width: 100%;
    display: block;
}

.q-urify_safety .unique_c_list_block ul li {
    padding: 15px 0;
    display: grid;
    gap: 30px;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    position: relative;
    font-size: 14px;
}

.q-urify_safety .unique_c_list_block ul li span {
    margin: 0;
    width: 75px;
}

.q-urify_safety .unique_c_list_block ul li span.pc_numbr {
    width: auto !important;
}

.q-urify_safety .unique_c_list_block ul li:before {
    position: absolute;
    content: '';
    background: #C7E7DC;
    width: 350px;
    height: 1px;
    bottom: 0;
    left: -20px;
}

.q-urify_safety .unique_c_list_block ul li:last-child:before {
    display: none;
}

.q-urify_safety .tab_con_5 {
    width: 767px;
}

.q-urify_safety .tab_con_5 .care_detail img {
    margin-bottom: 36px;
}

.care_detail .care_content p {
    font-size: 14px;
}

.guideline_content p {
    font-size: 13px;
}

@media (max-width: 991px) {
    .q-urify_safety .unique_c_list_block ul li:last-child:before {
        display: block !important;
    }

    .q-urify_safety .unique_c_list_block .unique_c_list ul li:last-child:before {
        display: none !important;
    }

    .q-urify_safety .tab_con_5 .care_detail img {
        margin-bottom: 20px;
    }

    .q-urify_safety .tab_con.tab_con_5 {
        width: 100%;
        padding: 0 18px 0 30px;
    }

    .q-urify_safety .unique_c_list_block .unique_c_list {
        order: 2;
    }

    .q-urify_safety .unique_c_list_block .step_diffrent {
        order: 1;
    }

    .q-urify_safety .unique_c_list_block ul li {
        gap: 15px;
    }
    .q-urify_safety .tab_con.tab_con_2 {
        padding: 0 30px;
        width: 100%;
        max-width: 100%;
    }
    .q-urify_safety .tab_con.tab_con_3 {
        padding: 0 30px;
        width: 100%;
        max-width: 100%;
    }

    .q-urify_safety .unique_c_list_block ul li:before {
        width: 100%;
        left: 0px;
    }

    .q-urify_safety .unique_c_list_block {
        gap: 0px;
        flex-direction: column;
    }

    .q-urify_safety .frame_img_box {
        text-align: left;
        margin-bottom: 30px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .q-urify_safety .tab_con_4 p.care_des {
        text-align: left;
        margin: 20px 0px 20px;
    }

    .q-urify_safety .tab_con.tab_con_4 {
        padding: 0 30px;
        width: 100%;
    }

    .q-urify_safety button#myBtn {
        text-align: left;
        padding: 0;
        margin-bottom: 20px;
    }

    .q-urify_safety .tab_con_1 .guideline_content {
        gap: 10px;
        padding: 0 0px 15px;
    }

    .q-urify_safety .tab_con_1 .guideline_content .guideline_left {
        width: 100%;
    }

    .q-urify_safety .tab_con_1 .guideline_content .guideline_right {
        width: 100%;
    }

    .q-urify_safety .tab_con.tab_con_1 {
        width: 100%;
        padding: 0 18px 0 30px;
    }

    .q-urify_safety .tab_con_1 p.care_des {
        width: 100%;
        text-align: left;
        margin: 0px auto 8px;
    }

    .q-urify_safety .guideline_content p {
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.28px;
    }

    .q-urify_safety .tab_con_1 p.care_des {
        font-size: 13px;
        line-height: 24px;
    }

    .q-urify_safety button#myBtn {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .q-urify_safety .unique_c_list_block ul li {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .q-urify_safety .frame_img_box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}