
.safety_content {
    position: relative;
    border-radius: 8px 0 8px 8px;
    padding: 40px 50px;
    margin-top: 40px;
    background-color: #fff;
}

.safety_content.do_safety {
    border: 1px solid #008763;
}

.safety_content.dont_safety {
    border: 1px solid #C92127;
}

.safety_content.do_safety .safety_tab {
    background-color: #008763;
}

.safety_content.dont_safety .safety_tab {
    background-color: #C92127;
}

.safety_content .safety_tab {
    position: absolute;
    top: -35px;
    right: -1px;
    color: #fff;
    padding: 5px 60px;
    border-radius: 5px 5px 0 0;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.13px;
}

.safety_content .ss_list {
    padding: 0px 0;
}

.safety_info:not(:last-child) {
    margin-bottom: 20px;
}
@media(max-width:490px){
    .safety_content{
        padding:20px;
    }
    .safety_content .safety_tab {
        padding:5px 20px;
    }
}