.dek-menu {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0px 15px 0px;
    width: 100%;
}

.dek-menu .menu {
    width: 33.33%;
}

.dek-menu .logo {
    width: 33.33%;
    text-align: center;
}

.dek-menu .saf-icon {
    width: 33.33%;
    text-align: right;
}

.dek-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.dek-menu ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.dek-menu ul li {
    padding-right: 26px;
}

.mobile-menu-custome {
    display: none;
}

@media(max-width: 1199px) {
    .mobile-menu-custome {
        display: block;
    }

    .menu.saf-menu {
        display: none;
    }

    .mobile-menu-custome {
        background-color: #000;
        width: 33.33%;
        position: relative;
        z-index: 10;
        clear: both
    }

    .mobile-menu-custome ul {
        list-style: none
    }

    .mobile-menu-custome ul#menu li a {
        width: 100%;
        display: flex;
        background-color: #000;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: .2px;
        color: #fff;
        transition: background .2s;
        text-decoration: none
    }

    .mobile-menu-custome ul.hamburger li {
        height: 3px;
        background: #fff;
        content: "";
        position: relative;
        transition: .25s ease-in-out;
        width: 30px
    }

    .mobile-menu-custome .hidden {
        opacity: 0
    }

    .mobile-menu-custome .rot45deg {
        transform: rotate(45deg);
        top: 10px !important
    }

    .mobile-menu-custome .rot-45deg {
        transform: rotate(-45deg)
    }

    .mobile-menu-custome ul.hamburger {
        left: -40px !important;
        right: auto !important;
        top: 9px;
        display: block
    }

    .mobile-menu-custome ul.hamburger li:first-child {
        top: 0
    }

    .mobile-menu-custome ul.hamburger li:nth-child(2) {
        top: 5px
    }

    .mobile-menu-custome ul.hamburger li:nth-child(3) {
        top: 10px
    }

    .mobile-menu-custome .hamburger-container {
        width: 25px;
        margin: 0;
        height: 25px;
        cursor: pointer;
        float: left
    }

    nav.mobile-menu-custome ul#menu {
        position: fixed;
        left: 0;
        right: 0;
        padding: 0 25px;
        top: 100px;
        z-index: 9;
        background-color: #000;
        height: 100%
    }

    .mobile-menu-custome ul#menu li.title {
        margin-bottom: 32px
    }

    .mobile-menu-custome ul#menu li.title a {
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        display: flex;
        align-items: center;
        flex-wrap: wrap
    }

    .mobile-menu-custome ul#menu li.title:first-child {
        margin-top: 48px
    }

    .mobile-menu-custome ul#menu li.title:nth-child(2) {
        margin-bottom: 32px
    }

    .mobile-menu-custome ul.hamburger li.rot45deg {
        top: 8px !important
    }

    .mobile-menu-custome ul#menu li.title a span {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #dd4d45;
        margin-left: 13px
    }

    .mobile-menu-custome ul#menu li a span.sub-title,
    .mobile-menu-custome ul#menu li a span.title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #fff
    }

    .mobile-menu-custome ul#menu li a span.title {
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: .3
    }

    .mobile-menu-custome ul#menu li {
        margin-bottom: 30px
    }

    .mobile-menu-custome ul#menu li span.image {
        padding-right: 19px
    }

    .mobile-menu-custome ul#menu li a span.sub-title {
        letter-spacing: .5px;
        display: block
    }

    .mobile-menu-custome ul#menu {
        display: none
    }

    .openmenu nav.mobile-menu-custome ul#menu {
        display: block;
    }
}

@media(max-width:767px) {
    .dek-menu {
        padding: 16px 24px;
    }

    nav.mobile-menu-custome ul#menu {
        position: fixed;
        left: 0;
        right: 0;
        padding: 0 25px;
        top: 64.5px;
        z-index: 9;
        background-color: #000;
        height: 100%;
    }
}